
   
.container
  .fondo-blanco

    %div{style:"margin-top:50px;    display: -webkit-inline-box;"}
      .col-md-12.col-sm-12.col-xs-12.no-padding
        %table.table{id: "myTable"}
          %thead
            %tr
              %th{style:"min-width:125px;"}
                Nombre Proyecto
              %th{style:"min-width:100px;"}
                %select#assigned-fondo-filter.form-control
                  %option{:disabled => "", :selected => ""} Fondo
                  %option Todos
                  %option NO ASIGNADO
                  - @not_nil=@boards.map{|t| t.fondo}.compact 
                  - @names=@not_nil.map{|t| t.name}.uniq 
                  - @names.each do |name|
                    %option #{name}
              %th{style:"min-width:100px;"}
                %select#assigned-tipo-filter.form-control
                  %option{:disabled => "", :selected => ""} Tipo
                  %option Todos
                  %option NO ASIGNADO
                  - @not_nil=@boards.map{|t| t.tipo}.compact 
                  - @names=@not_nil.map{|t| t.name}.uniq 
                  - @names.each do |name|
                    %option #{name}
              %th{style:"min-width:100px;"}
                %select#assigned-state-filter.form-control
                  %option{:disabled => "", :selected => ""} Estado
                  %option Todos
                  %option NO ASIGNADO
                  %option En Formulación
                  %option Ingresado
                  %option Observado
                  %option Con Aprobación Técnica
                  %option Con recursos Aprobados
                  %option Preparación de Licitación
                  %option Evaluación y adjudicación de propuestas
                  %option En Ejecución
                  %option Finalizado
                  %option Descartado
              %th{style:"min-width:100px;"} 
                %select#assigned-zone-filter.form-control 
                  %option{:disabled => "", :selected => ""} Zonas
                  %option Todas
                  - @zonesx=@user.municipio.zones.map{|t| t.name}.uniq 
                  - @zones= @zonesx.sort{|a,b| a.name.delete("^0-9").to_i <=> b.name.delete("^0-9").to_i}
                  - @zones.each do |z|  
                    %option #{z}
                    
                
              - if(@user.role=="secpla" || @user.role=="admin")
                %th Editar
          %tbody.cuerpo-tabla
            - @boards.each do |board|
              - if(board.fondo!=nil)
                - fondox=board.fondo.name
              - else
                - fondox="NO ASIGNADO"
              - if(board.tipo!=nil)
                - tipox=board.tipo.name
              - else
                - tipox="NO ASIGNADO"
              - if(board.name.split('|')[1]!=nil)
                - statex=board.name.split('|')[1]
              - else
                - statex="NO ASIGNADO"
              - zoness=" | "
              - if(board.zones.count != 0)
                - zones=board.zones.sort{|a,b| a.name.delete("^0-9").to_i <=> b.name.delete("^0-9").to_i}
                - zones.each do |zone|
                  - zoness=zoness+zone.name+" | "
              -else
                - zoness="NO ASIGNADAS"
              %tr.task-list-row{"data-assigned-fondo"=>"#{fondox}","data-assigned-tipo"=>"#{tipox}","data-assigned-state"=>"#{statex}","data-assigned-zone"=>"#{zoness}"}
                %td.celda-tabla{style: "min-width: 250px;width: 100%;max-width: 0px;"}
                  %a.btn-link.boards-list-item-link.overflow{href: "/boards/#{board.board_id}",title:"#{board.name.split(' |')[0]} "}
                    #{board.name.split(' |')[0]}               
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-b.overflow{style:"max-width: 100%;"}
                    - if board != nil
                      - if board.fondo != nil
                        #{board.fondo.name}
                      - else
                        NO ASIGNADO
                    - else
                      NO ASIGNADO
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-b.overflow{style:"max-width: 100%;"}
                    - if board != nil
                      - if board.tipo != nil
                        #{board.tipo.name}
                      - else
                        NO ASIGNADO
                    - else
                      NO ASIGNADO
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-c.overflow{style:"max-width: 100%;"}
                    - if(board.current_state!=nil)
                      #{board.current_state}
                    - else
                      NO ASIGNADO
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-b.overflow{style:"max-width: 100%;"}
                    - if board != nil
                      - if board.zones != nil
                        - zoness=" | "
                        - if(board.zones.count != 0)
                          - zones=board.zones.sort{|a,b| a.name.delete("^0-9").to_i <=> b.name.delete("^0-9").to_i}
                          - zones.each do |zone|
                            - zoness=zoness+zone.name+" | "
                          -if(board.zones.count>3)
                            %p{title: "#{zoness}", style:"margin:0 0 0;"} Varias Zonas
                          -else
                            #{zoness}
                        -else
                          NO ASIGNADAS
                      - else
                        NO ASIGNADAS
                    - else
                      NO ASIGNADAS
                - if(@user.role=="secpla" || @user.role=="admin")
                  %td.celda-tabla{style: "width: 100%;"}
                    .boards-list-item-link-c.overflow{style:"max-width: 100%;"}
                      %a{style: 'display: inline-block;', href: "/new_board?mun_id=#{@mun.id}&last_board_id=#{board.board_id}&board_name=#{board.name}&edit=true"}
                        %span.glyphicon.glyphicon-pencil
    .row{style:"margin:0px;"}
      %a.btn.plus#save_image_locally
        Imprimir

:javascript
  $('#save_image_locally').click(function(){
    html2canvas($('#myTable'), 
    {background :'#FFFFFF',
      onrendered: function (canvas) {
        var a = document.createElement('a');
        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
        a.href = canvas.toDataURL("image/png");
        a.download = 'archivo-proyectos.png';
        a.click();
      }
    });
  });



  var
  tipoFilter, stateFilter, fondoFilter, zoneFilter;

  function updateFilters() {
    $('.task-list-row').hide().filter(function() {
      var
        self = $(this),
        result = true; // not guilty until proven guilty

      if (tipoFilter && (tipoFilter != 'Todos')) {
        result = result && tipoFilter === self.data('assigned-tipo');
      }
      if (fondoFilter && (fondoFilter != 'Todos')) {
        result = result && fondoFilter === self.data('assigned-fondo');
      }
      if (stateFilter && (stateFilter != 'Todos')) {
        result = result && stateFilter === self.data('assigned-state');
      }
      if (zoneFilter && (zoneFilter != 'Todas')) {
        result = result && self.data('assigned-zone').split(" | ").indexOf(zoneFilter) != -1;
      }
      
      
      return result;
    }).show();
  }

  // Assigned User Dropdown Filter
  $('#assigned-tipo-filter').on('change', function() {
    tipoFilter = this.value;
    updateFilters();
  });

  // Task Status Dropdown Filter
  $('#assigned-fondo-filter').on('change', function() {
    fondoFilter = this.value;
    updateFilters();
  });

  // Task Status Dropdown Filter
  $('#assigned-state-filter').on('change', function() {
    stateFilter = this.value;
    updateFilters();
  });

  // Task Status Dropdown Filter
  $('#assigned-zone-filter').on('change', function() {
    zoneFilter = this.value;
    updateFilters();
  });

 