
   
.container
  .fondo-blanco

    %div{style:"margin-top:50px;    display: -webkit-inline-box;"}
      .col-md-12.col-sm-12.col-xs-12.no-padding
        %table.table{id: "myTable"}
          %thead
            %tr
              %th{style:"min-width:250px;"}
                Nombre Proyecto
                %a{href: "#"}
                  %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"margin-left:10px;"}
                %select#assigned-user-filter.form-control
                  %option None
                  - @names=@boards.map{|t| t.name}.uniq 
                  - @names.each do |name|
                    %option #{name}
              %th{style:"min-width:100px;"}
                Fondo
                %a{href: "#"}
                  %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"margin-left:10px;"}
              %th{style:"min-width:100px;"}
                Tipo
                %a{href: "#"}
                  %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"margin-left:10px;"}
              %th{style:"min-width:100px;"} 
                Zonas
              %th{style:"min-width:100px;"}
                Estado
                %a{href: "#"}
                  %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"margin-left:10px;"}
              - if(@user.role=="secpla" || @user.role=="admin")
                %th Editar
          %tbody.cuerpo-tabla
            - @boards.each do |board|
              %tr.task-list-row{"data-assigned-user"=>"#{board.name.split('|')[0]}"}
                %td.celda-tabla{style: "min-width: 250px;width: 100%;max-width: 0px;"}
                  %a.btn-link.boards-list-item-link.overflow{href: "/boards/#{board.board_id}",title:"#{board.name.split('|')[0]} "}
                    #{board.name.split('|')[0]}               
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-b.overflow{style:"max-width: 100%;"}
                    - if board != nil
                      - if board.fondo != nil
                        #{board.fondo.name}
                      - else
                        NO ASIGNADO
                    - else
                      NO ASIGNADO
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-b.overflow{style:"max-width: 100%;"}
                    - if board != nil
                      - if board.tipo != nil
                        #{board.tipo.name}
                      - else
                        NO ASIGNADO
                    - else
                      NO ASIGNADO
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-b.overflow{style:"max-width: 100%;"}
                    - if board != nil
                      - if board.zones != nil
                        - zoness=" | "
                        - if(board.zones.count != 0)
                          - zones=board.zones.sort{|a,b| a.name.delete("^0-9").to_i <=> b.name.delete("^0-9").to_i}
                          - zones.each do |zone|
                            - zoness=zoness+zone.name+" | "
                          -if(board.zones.count>3)
                            %p{title: "#{zoness}", style:"margin:0 0 0;"} Varias Zonas
                          -else
                            #{zoness}
                        -else
                          NO ASIGNADAS
                      - else
                        NO ASIGNADAS
                    - else
                      NO ASIGNADAS
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-c.overflow{style:"max-width: 100%;"}
                    - if(board.current_state!=nil)
                      #{board.current_state}
                    - else
                      NO ASIGNADO
                - if(@user.role=="secpla" || @user.role=="admin")
                  %td.celda-tabla{style: "width: 100%;"}
                    .boards-list-item-link-c.overflow{style:"max-width: 100%;"}
                      %a{style: 'display: inline-block;', href: "/new_board?mun_id=#{@mun.id}&last_board_id=#{board.board_id}&board_name=#{board.name}&edit=true"}
                        %span.glyphicon.glyphicon-pencil
    .row{style:"margin:0px;"}
      
      - if(@user.role=="secpla" || @user.role=="admin") 
        
        - @mun=Municipio.find_by(id: params[:mun_id])
        - @org=@mun.organizations.find_by(name: "3. No Priorizados")
        %a.btn.plus{href:"/new_board?mun_id=#{@mun.id}&org_id=#{@org.org_id}&last_board_id=#{@org.org_id}&orgName=#{@org.name}&edit=false&admin=true"}
          Agregar Proyecto
      %a.btn.plus#save_image_locally{style:"margin-right:20px;"}
        Imprimir

:javascript
  $(document).ready(function(){
    $("#myTable").tablesorter(); 
  })
  $('#save_image_locally').click(function(){
    html2canvas($('#myTable'), 
    {background :'#FFFFFF',
      onrendered: function (canvas) {
        var a = document.createElement('a');
        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
        a.href = canvas.toDataURL("image/png");
        a.download = 'archivo-proyectos.png';
        a.click();
      }
    });
  });
  $('#assigned-user-filter').on('change', function() {
    var assignedUser = this.value;
    
    if(assignedUser === 'None'){
      $('.task-list-row').hide().filter(function() {
        return $(this).data('assigned-user') != assignedUser;
      }).show();
    }else{
      $('.task-list-row').hide().filter(function() {
        return $(this).data('assigned-user') == assignedUser;
      }).show();   
    }
  });
