
   
.container
  .row
    %h2.ollert-header
      .text-center.col-xs-12
        Panel de administración

  .row
    
  - @municipios.each do |muni|
    .col-md-3.col-sm-3.col-xs-4.no-padding
      .analysis-block-md
        #{muni.name}
        %ul{class: 'boards-list'}
          %a{style: 'display: inline-block;float: right;padding: 5px !important;', href: "/admin/municipio?id=#{muni.id}"}
            %span.glyphicon.glyphicon-pencil
          %li.boards-list-item
            %a.btn.btn-link.boards-list-item-link{href: "/admin/municipio/proyectos?mun_id=#{muni.id}"}
              Proyectos: #{muni.boards.count}
          %li.boards-list-item
            %a.btn.btn-link.boards-list-item-link{href: "/admin/municipio/states?mun_id=#{muni.id}"}
              Estados: #{muni.states.count}
          %li.boards-list-item
            %a.btn.btn-link.boards-list-item-link{href: "/admin/municipio/users?mun_id=#{muni.id}"}
              Usuarios: #{muni.users.count}
          %li.boards-list-item
            %a.btn.btn-link.boards-list-item-link{href: "/admin/municipio?id=#{muni.id}"}
              Zonas: #{muni.zones.count}
          - if(muni.launched=="false")
            %li.boards-list-item
              %a.btn.btn-link.boards-list-item-link{href: "/admin/municipio/launch?mun_id=#{muni.id}"}
                Enviar invitaciones
  %a{style: 'display: inline-block;float: right;padding: 5px !important;', href: "/admin/municipio"}
    %span.glyphicon.glyphicon-plus

