.container
  .row
    %h2.ollert-header
      .text-center.col-xs-12
        Proyectos

  .row
    %hr
  
  - @asignados = Array.new()
  - @states.each do |state|
    .col-md-2.col-sm-2.col-xs-4.no-padding
      .analysis-block-md
        #{state}
        %ul{class: 'boards-list'}
          - @boards.each do |org_name, boards|
            - boards.each do |board|
              - if state == board["name"].split('|')[1]
                - @asignados<<board["name"]
                %li.boards-list-item
                  %a.btn.btn-link.boards-list-item-link{href: "/boards/#{board["id"]}"}
                    #{board["name"].split('|')[2]}
  .col-md-2.col-sm-2.col-xs-4.no-padding
    .analysis-block-md
      NO ASIGNADO
      %ul{class: 'boards-list'}
        - @boards.each do |org_name, boards|
          - boards.each do |board|
            - unless  @asignados.include?(board["name"])
              %li.boards-list-item
                %a.btn.btn-link.boards-list-item-link{href: "/boards/#{board["id"]}"}
                  #{board["name"]}
          
:javascript
  window.onload = function() {
    var adjustment;

    $(".boards-list").sortable({
      group: 'simple_with_animation',
      pullPlaceholder: false,
      // animation on drop
      onDrop: function  ($item, container, _super) {
        var $clonedItem = $('<li/>').css({height: 0});
        $item.before($clonedItem);
        $clonedItem.animate({'height': $item.height()});

        $item.animate($clonedItem.position(), function  () {
          $clonedItem.detach();
          _super($item, container);
        });
        var boardState=$item.parent().parent().text().split('\n')[1].replace(/ /g,'');
        var boardId=$item.find('a').attr('href').split('/')[2];
        $.ajax({
          url: "/api/v1/change_board_state/" + boardId,
          data: {
            token: "#{@token}",
            state: boardState
          }
        });
      },

      // set $item relative to cursor position
      onDragStart: function ($item, container, _super) {
        var offset = $item.offset(),
            pointer = container.rootGroup.pointer;

        adjustment = {
          left: pointer.left - offset.left,
          top: pointer.top - offset.top
        };

        _super($item, container);
      },
      onDrag: function ($item, position) {
        $item.css({
          left: position.left - adjustment.left,
          top: position.top - adjustment.top
        });

      }
    });
  };
