
   
.container
  .row
    %h2.ollert-header
      .text-center.col-xs-12
        Etapa de Proyectos

  .row
    
  
  - @asignados = Array.new()
  - @states.each do |state|
    .col-md-2.col-sm-2.col-xs-4.no-padding
      .analysis-block-md
        #{state}
        %ul{class: 'boards-list'}
          - @boards.each do |org_name, boards|
            - prioridad_tablero=org_name
            - if(@prioridades.include?(prioridad_tablero))
              - boards.each do |board|
                - if state == board["name"].split('|')[1]
                  - @asignados<<board["name"]
                  %li.boards-list-item
                    %a.btn.btn-link.boards-list-item-link{href: "/boards/#{board["id"]}"}
                      #{board["name"].split('|')[0]}
  .col-md-2.col-sm-2.col-xs-4.no-padding
    .analysis-block-md
      NO ASIGNADO
      %ul{class: 'boards-list'}
        - @boards.each do |org_name, boards|
        - prioridad_tablero=org_name
          - if(@prioridades.include?(prioridad_tablero))
            - boards.each do |board|
              - unless  @asignados.include?(board["name"])
                - #bdbrd=Board.find_or_create_by(board_id: board["id"])
                - #if(bdbrd!=nil)
                %li.boards-list-item
                  %a.btn.btn-link.boards-list-item-link{href: "/boards/#{board["id"]}"}
                    #{board["name"]}

  .row
    %h2.ollert-header
      .text-center.col-xs-12
        %br
        Prioridad de Proyectos

  .row
    
  
  - @prioridades.each do |prioridad|
    
    .col-md-4.col-sm-4.col-xs-4.no-padding
      .analysis-block-md
        #{prioridad}
        %ul{class: 'board-list-prior'}
          - @boards.each do |org_name, boards|
            - prioridad_tablero=org_name
            - if(prioridad==(prioridad_tablero))
              - boards.each do |board|
                - org=Organization.find_or_initialize_by(org_id: Trello::Board.find(board["id"]).organization.id)
                - org.name=prioridad
                - org.municipio=@user.municipio
                - org.save
                - bdbrd=Board.find_by(board_id: board["id"])
                - if(bdbrd==nil)
                  - bdbrd=Board.new
                  - bdbrd.name=board["name"]
                  - bdbrd.board_id=board["id"]
                  - bdbrd.municipio=@user.municipio
                  - bdbrd.users<<@user
                  - bdbrd.save
                  - @user.boards<<bdbrd
                  - @user.save
                - else
                  - bdbrd.users<<@user
                  - bdbrd.name=board["name"]
                  - bdbrd.save
                  - @user.boards<<bdbrd
                  - @user.save
                %li.boards-list-item
                  %a.btn.btn-link.boards-list-item-link{href: "/boards/#{board["id"]}"}
                    #{board["name"]}

- if(@user.role=="secpla" || @user.role=="admin")       
  :javascript
    $( ".boards-list").sortable({connectWith: ".boards-list",
      stop: function  (event,ui) {
          var $item=ui.item;
          var palabra=$item.parent().parent().text().split('\n')[1];
          var boardState=palabra.substring(14,palabra.length);
          if(boardState=="Noiniciado"){
            boardState="No iniciado";
          }
          var boardId=$item.find('a').attr('href').split('/')[2];
          $.ajax({
            url: "/api/v1/change_board_state/" + boardId,
            data: {
              token: "#{@token}",
              state: boardState
            },
            error: function(xhr) {
              if(!alert("Usted no tiene permisos de administrador en el tablero. El cambio de estado no será guardado.")){window.location.reload();}
            }
          });
        }
      });
    $( ".board-list-prior").sortable({connectWith: ".board-list-prior",
      stop: function  (event, ui) {
        var $item=ui.item;
        var boardPriority=$item.parent().parent().text().split('\n')[1].replace(/ /g,'');
        
        if(boardPriority=="2.Priorizados"){
          boardPriority="2. Priorizados";
        }
        else if(boardPriority=="1.Urgentes"){
          boardPriority="1. Urgentes";
        }
        else{
          boardPriority="3. No Priorizados";
        }
        var boardId=$item.find('a').attr('href').split('/')[2];
        


        $.ajax({
          url: "/api/v1/change_board_priority/" + boardId,
          data: {
            token: "#{@token}",
            user_id: "#{@user.trello_id}",
            priority: boardPriority
          },
          error: function(xhr) {
            if(!alert("Usted no tiene permisos de administrador en el tablero. El cambio de prioridad no será guardado.")){window.location.reload();}
          }
        });
      }
    });

