
   
.container
  .row
    %h4
      %a{href: "/boards",style: "color:#808080"}Gestión de Proyectos >
    %h2.ollert-header
      .text-center.col-xs-12.no-padding
        Etapas de Proyectos

  .row
    #responsiveTabsDemo
      %ul#myTab.nav.nav-tabs.responsive
        %li.lindo
          %a.tab-custom.active{:href => "#tab-1",:id => "tab-text-1"} NO ASIGNADO
        %li.lindo
          %a.tab-custom{:href => "#tab-2",:id => "tab-text-2"} EN FORMULACIÓN
        %li.lindo
          %a.tab-custom{:href => "#tab-3",:id => "tab-text-3"} INGRESADO
        %li.lindo
          %a.tab-custom{:href => "#tab-4",:id => "tab-text-4"} OBSERVADO
        %li.lindo
          %a.tab-custom{:href => "#tab-5",:id => "tab-text-5"} CON APROBACIÓN TÉCNICA
        %li.lindo
          %a.tab-custom{:href => "#tab-6",:id => "tab-text-6"} CON RECURSOS APROBADOS
        %li.lindo
          %a.tab-custom{:href => "#tab-7",:id => "tab-text-7"} PREPARACIÓN LICITACIÓN
        %li.lindo
          %a.tab-custom{:href => "#tab-8",:id => "tab-text-8"} EVALUACIÓN Y ADJUDICACIÓN DE PROPUESTAS
        %li.lindo
          %a.tab-custom{:href => "#tab-9",:id => "tab-text-9"} EN EJECUCIÓN
        %li.lindo
          %a.tab-custom{:href => "#tab-10",:id => "tab-text-10"} FINALIZADO
      .tab-content.responsive
        - @asignados = Array.new()
        - count=1
        - @states.each do |state|
          - count=count+1
          %div{id: "tab-#{count}", class: "tab-pane"}
            .col-md-12.col-sm-12.col-xs-12.no-padding
              %table.table{id: "myTable-#{count}"}
                %thead
                  %tr
                    %th 
                      Nombre Proyecto
                      %a{href: "#"}
                        %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"float:right;"}
                    %th 
                      Fondo
                      %a{href: "#"}
                        %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"float:right;"}
                    %th 
                      Tipo
                      %a{href: "#"}
                        %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"float:right;"}
                    %th Zonas
                    %th Estado
                

                %tbody.cuerpo-tabla
                  - cantidad_tableros=0
                  - @boards.each do |org_name, boards|
                    - prioridad_tablero=org_name
                    - if(@prioridades.include?(prioridad_tablero))
                      - boards.each do |board|
                        - if(state == board["name"].split('|')[1])

                          - if(board["closed"]==false || state=="Finalizado")
                            - @asignados<<board["name"]
                            - cantidad_tableros=cantidad_tableros+1
                            %tr
                              %td.celda-tabla
                                %a.btn-link.boards-list-item-link{href: "/boards/#{board["id"]}"}
                                  #{board["name"].split('|')[0]}
                              - actual_board=Board.find_by(board_id: board["id"])
                              %td.celda-tabla
                                .boards-list-item-link-b
                                  - if actual_board != nil
                                    - if actual_board.fondo != nil
                                      #{actual_board.fondo.name}
                                    - else
                                      NO ASIGNADO
                                  - else
                                    NO ASIGNADO
                              %td.celda-tabla
                                .boards-list-item-link-b
                                  - if actual_board != nil
                                    - if actual_board.tipo != nil
                                      #{actual_board.tipo.name}
                                    - else
                                      NO ASIGNADO
                                  - else
                                    NO ASIGNADO
                              %td.celda-tabla
                                .boards-list-item-link-b
                                  - if actual_board != nil
                                    - if actual_board.zones != nil
                                      - zoness=" | "
                                      - actual_board.zones.each do |zone|
                                        - zoness=zoness+zone.name+" | "
                                      #{zoness}
                                    - else
                                      NO ASIGNADAS
                                  - else
                                    NO ASIGNADAS
                              %td.celda-tabla
                                .boards-list-item-link-c
                                  - if(@states[count-3]!="Descartado")
                                    - if(@user.role=="secpla" || @user.role=="admin") 
                                      %a{onclick: "changeState('#{@states[count-3]}','#{board["id"]}')", title: "Pasar a la etapa anterior"}
                                        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true", "style"=>"float:left;"}
                                  - if (actual_board!=nil)
                                    #{actual_board.current_state}
                                  - if(@states[count-1]!="Descartado")
                                    - if(@user.role=="secpla" || @user.role=="admin") 
                                      %a{onclick: "changeState('#{@states[count-1]}','#{board["id"]}')", title: "Pasar a siguiente etapa"}
                                        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true", "style"=>"float:right;"}
                  %script
                    var text=$(document).find("#tab-text-#{count}").text();
                    $(document).find("#tab-text-#{count}").text(text+" [#{cantidad_tableros}]");
        %div{id: "tab-1", class: "tab-pane"}
          .col-md-12.col-sm-12.col-xs-12.no-padding
            %table.table{id: "myTable-1"}
              %thead
                %tr
                  %th 
                    Nombre Proyecto
                    %a{href: "#"}
                      %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"float:right;"}
                  %th 
                    Fondo
                    %a{href: "#"}
                      %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"float:right;"}
                  %th 
                    Tipo
                    %a{href: "#"}
                      %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"float:right;"}
                  %th Zonas
                  %th Estado
              %tbody.cuerpo-tabla
                - cantidad_tableros=0
                - @boards.each do |org_name, boards|
                - prioridad_tablero=org_name
                  - if(@prioridades.include?(prioridad_tablero))
                    - boards.each do |board|
                      - unless  @asignados.include?(board["name"])
                        - #bdbrd=Board.find_or_create_by(board_id: board["id"])
                        - #if(bdbrd!=nil)
                        - cantidad_tableros=cantidad_tableros+1
                        %tr
                          %td.celda-tabla
                            %a.btn-link.boards-list-item-link{href: "/boards/#{board["id"]}"}
                              #{board["name"]}
                          - actual_board=Board.find_by(board_id: board["id"])
                          %td.celda-tabla
                            .boards-list-item-link-b
                              - if actual_board != nil
                                - if actual_board.fondo != nil
                                  #{actual_board.fondo.name}
                                - else
                                  NO ASIGNADO
                              - else
                                NO ASIGNADO
                          %td.celda-tabla
                            .boards-list-item-link-b
                              - if actual_board != nil
                                - if actual_board.tipo != nil
                                  #{actual_board.tipo.name}
                                - else
                                  NO ASIGNADO
                              - else
                                NO ASIGNADO
                          %td.celda-tabla
                            .boards-list-item-link-b
                              - if actual_board != nil
                                - if actual_board.zones != nil
                                  - zoness=" | "
                                  - actual_board.zones.each do |zone|
                                    - zoness=zoness+zone.name+" | "
                                  #{zoness}
                                - else
                                  NO ASIGNADAS
                              - else
                                NO ASIGNADAS
                          %td.celda-tabla
                            .boards-list-item-link-c
                              NO ASIGNADO
                              - if(@user.role=="secpla" || @user.role=="admin") 
                                %a{onclick: "changeState('En formulación','#{board["id"]}')", title: "Pasar a siguiente etapa"}
                                  %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true", "style"=>"float:right;"}
                %script
                  var text=$(document).find("#tab-text-1").text();
                  $(document).find("#tab-text-1").text(text+" [#{cantidad_tableros}]");
  - if(@user.role=="secpla" || @user.role=="admin") 
    .row
      - @mun=@user.municipio
      - @org=@mun.organizations.find_by(name: "3. No Priorizados")
      %a.btn.plus{href:"/new_board?mun_id=#{@mun.id}&org_id=#{@org.org_id}&last_board_id=#{@org.org_id}&orgName=#{@org.name}&edit=false&admin=true"}
        Agregar Proyecto
  .row
    %h2.ollert-header
      .text-center.col-xs-12.no-padding
        Prioridad de Proyectos
  .row
    #responsiveTabsDemo2
      %ul#myTab.nav.nav-tabs.responsive
        %li.lindo
          %a.tab-custom{:href => "#tab-12",:id => "tab-text-12"} Urgentes
        %li.lindo
          %a.tab-custom{:href => "#tab-13",:id => "tab-text-13"} Priorizados
        %li.lindo
          %a.tab-custom{:href => "#tab-14",:id => "tab-text-14"} No Priorizados
      .tab-content.responsive
        -count=11
        - @prioridades.each do |prioridad|
          - count=count+1
          %div{id: "tab-#{count}", class: "tab-pane"}
            .col-md-12.col-sm-12.col-xs-12.no-padding
              %table.table{id: "myTable-#{count}"}
                %thead
                  %tr
                    %th 
                      Nombre Proyecto
                      %a{href: "#"}
                        %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"float:right;"}
                    %th 
                      Fondo
                      %a{href: "#"}
                        %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"float:right;"}
                    %th 
                      Tipo
                      %a{href: "#"}
                        %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"float:right;"}
                    %th Zonas
                    %th Prioridad
                %tbody.cuerpo-tabla
                  - @boards.each do |org_name, boards|
                    - cantidad_tableros=0
                    - prioridad_tablero=org_name
                    - if(prioridad==(prioridad_tablero))
                      - boards.each do |board|
                        
                        - org=Organization.find_or_initialize_by(org_id: Trello::Board.find(board["id"]).organization.id)
                        - org.name=prioridad
                        - org.municipio=@user.municipio
                        - org.save
                        - bdbrd=Board.find_by(board_id: board["id"])
                        - if(bdbrd==nil)
                          - bdbrd=Board.new
                          - bdbrd.name=board["name"]
                          - bdbrd.board_id=board["id"]
                          / - if(@closed.to_s=="true")
                          /   - bdbrd.closed="true"
                          / - else
                          /   - bdbrd.closed="false"
                          - bdbrd.municipio=@user.municipio
                          - bdbrd.users<<@user
                          - bdbrd.save
                        - else
                          - bdbrd.name=board["name"]
                          / - if(@closed.to_s=="true")
                          /   - bdbrd.closed="true"
                          / - else
                          /   - bdbrd.closed="false"
                          - bdbrd.save
                        - if(bdbrd.closed=="false")
                          - cantidad_tableros=cantidad_tableros+1
                          %tr
                            %td.celda-tabla
                              %a.btn-link.boards-list-item-link{href: "/boards/#{board["id"]}"}
                                #{board["name"].split('|')[0]}
                            - actual_board=Board.find_by(board_id: board["id"])
                            %td.celda-tabla
                              .boards-list-item-link-b
                                - if actual_board != nil
                                  - if actual_board.fondo != nil
                                    #{actual_board.fondo.name}
                                  - else
                                    NO ASIGNADO
                                - else
                                  NO ASIGNADO
                            %td.celda-tabla
                              .boards-list-item-link-b
                                - if actual_board != nil
                                  - if actual_board.tipo != nil
                                    #{actual_board.tipo.name}
                                  - else
                                    NO ASIGNADO
                                - else
                                  NO ASIGNADO
                            %td.celda-tabla
                              .boards-list-item-link-b
                                - if actual_board != nil
                                  - if actual_board.zones != nil
                                    - zoness=" | "
                                    - actual_board.zones.each do |zone|
                                      - zoness=zoness+zone.name+" | "
                                    #{zoness}
                                  - else
                                    NO ASIGNADAS
                                - else
                                  NO ASIGNADAS
                            %td.celda-tabla
                              .boards-list-item-link-c
                                - if(@prioridades[count-13]!="3. No Priorizados" && @prioridades[count-13]!=nil)
                                  - if(@user.role=="secpla" || @user.role=="admin") 
                                    %a{onclick: "changePriority('#{@prioridades[count-13]}','#{board["id"]}')", title: "Pasar a la prioridad anterior"}
                                      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true", "style"=>"float:left;"}
                                #{prioridad}
                                - if(@prioridades[count-11]!="1. Urgentes" && @prioridades[count-11]!=nil)
                                  - if(@user.role=="secpla" || @user.role=="admin") 
                                    %a{onclick: "changePriority('#{@prioridades[count-11]}','#{board["id"]}')", title: "Pasar a siguiente prioridad"}
                                      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true", "style"=>"float:right;"}
                      %script
                        var text=$(document).find("#tab-text-#{count}").text();
                        $(document).find("#tab-text-#{count}").text(text+" [#{cantidad_tableros}]");

- if(@user.role=="secpla" || @user.role=="admin")       
  :javascript
    function changeState(boardState,boardId){
      var va=false;
      if(boardState=="Finalizado" || boardState=="Descartado"){
        if(confirm("¿Está seguro de que quiere marcar el proyecto como "+boardState+"? El proyecto se cerrará")){
          $body = $("body");
          $body.addClass("loading");
          va=true;
        }
      }
      else{
        if(window.location.href.includes("closed")){
          if(confirm("¿Está seguro de que quiere marcar el proyecto como "+boardState+"? El proyecto se volverá a abrir y se cargarán las tareas predeterminadas asociadas al estado.")){
            $body = $("body");
            $body.addClass("loading");
            va=true;
          }
        }
        else{
          if(confirm("¿Está seguro de que quiere marcar el proyecto como "+boardState+"? Se cargarán las tareas predeterminadas asociadas al estado.")){
            $body = $("body");
            $body.addClass("loading");
            va=true;
          }
        }
      }
      if(va){
        $.ajax({
          url: "/api/v1/change_board_state/" + boardId,
          data: {
            token: "#{@token}",
            state: boardState
          },
          success: function(xhr){
            window.location.reload();
          },
          error: function(xhr) {
            if(!alert("Usted no tiene permisos de administrador en el tablero. El cambio de estado no será guardado.")){window.location.reload();}
          }
        });
      }
    }
    
    function changePriority(boardPriority,boardId){
      var va=false;
      if(confirm("¿Está seguro de que quiere cambiar la prioridad del proyecto a "+boardPriority+"?")){
        $body = $("body");
        $body.addClass("loading");
        va=true;
      }
      if(va){
        $.ajax({
          url: "/api/v1/change_board_priority/" + boardId,
          data: {
            token: "#{@token}",
            user_id: "#{@user.trello_id}",
            priority: boardPriority
          },
          success: function(xhr){
            window.location.reload();
          },
          error: function(xhr) {
            if(!alert("Usted no tiene permisos de administrador en el tablero. El cambio de prioridad no será guardado.")){window.location.reload();}
          }
        });
      }
    }
    
          


:javascript
  $(document).ready(function(){
    $('#responsiveTabsDemo').responsiveTabs({
      startCollapsed: 'accordion'
    });
    $('#responsiveTabsDemo2').responsiveTabs({
      startCollapsed: 'accordion'
    });
    $("#myTable-1").tablesorter(); 
    $("#myTable-2").tablesorter(); 
    $("#myTable-3").tablesorter(); 
    $("#myTable-4").tablesorter(); 
    $("#myTable-5").tablesorter(); 
    $("#myTable-6").tablesorter(); 
    $("#myTable-7").tablesorter(); 
    $("#myTable-8").tablesorter(); 
    $("#myTable-9").tablesorter(); 
    $("#myTable-10").tablesorter(); 
    $("#myTable-11").tablesorter(); 
    $("#myTable-12").tablesorter(); 
    $("#myTable-13").tablesorter(); 
  })