- @municipio=@board.municipio
:javascript
  function initMap(){
    $("#map").height("200px");
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: #{if(@board.coords!=nil && @board.coords!="") \n @board.coords.split(' ')[0] \n else @municipio.coords.split(' ')[0] \n end}, lng: #{if(@board.coords!=nil  && @board.coords!="") \n @board.coords.split(' ')[1] \n else @municipio.coords.split(' ')[1] \n end}},
      zoom: 14,
    });
    marker = new google.maps.Marker({
      map: map,
      draggable: true,
      animation: google.maps.Animation.DROP,
      position: {lat: #{if(@board.coords!=nil  && @board.coords!="") \n @board.coords.split(' ')[0] \n else @municipio.coords.split(' ')[0] \n end}, lng: #{if(@board.coords!=nil  && @board.coords!="") \n @board.coords.split(' ')[1] \n else @municipio.coords.split(' ')[1] \n end}}
    });
  }
%script{:async => "", :defer => "", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCfYWTKUU4QL_d1WLpJVLfjcTAJTwYVl3w&callback=initMap"}
.container
  .fondo-blanco
    .row{style:"margin:0px;"}
      #board-name.col-xs-8.col-xs-offset-2.text-center.h2.ollert-header
        #{@board_name}
    


    .row
      .form-group 
        .col-md-9.col-sm-12.col-xs-12
          .col-12{style:"padding-right:5px !important;padding-left:5px !important;"}

            
            #textinput.form-control.input-md 
              %b
                Nombre: 
              #{@board.name.split(' |')[0]}
         

        .col-md-6.col-sm-6.col-xs-12
          %input#textinput.form-control.input-md{name: "orgName", value: "#{@orgName}", style: "cursor: auto;", type: "hidden", disabled: "true"}

      .form-group
        .col-md-9.col-sm-12.col-xs-12
          .col-md-6.col-sm-6.col-xs-12.no-padding{style:"padding-right:5px !important;padding-left:5px !important;"}
            #textinput.form-control.input-md.description
              %b
                Tipo: 
              -if(@board.tipo!=nil)
                #{@board.tipo.name}
              -else
                NO ASIGNADO
              
            
          .col-md-6.col-sm-6.col-xs-12.no-padding{style:"padding-right:5px !important;padding-left:5px !important;"}

            #textinput.form-control.input-md.description
              %b
                Fondo:
              -if(@board.fondo!=nil) 
                #{@board.fondo.name} #{@board.fondo.etapa}
              -else
                NO ASIGNADO
              
      .form-group
        .col-md-9.col-sm-12.col-xs-12
          .col-md-4.col-sm-12.col-xs-12.no-padding{style:"padding-right:5px !important;padding-left:5px !important;"}
            .form-control.input-md.description
              %b
                Fecha tentativa de inicio: 
              - if((@board.start_date!=nil&&@board.start_date!=""))
                #{@board.start_date}
              - else
                NO ASIGNADA
          .col-md-4.col-sm-12.col-xs-12.no-padding{style:"padding-right:5px !important;padding-left:5px !important;"}
            .form-control.input-md.description
              %b
                Fecha tentativa de fin: 
              - if((@board.end_date!=nil&&@board.end_date!=""))
                #{@board.end_date}
              - else
                NO ASIGNADA
          .col-md-4.col-sm-12.col-xs-12.no-padding{style:"padding-right:5px !important;padding-left:5px !important;"}

            #monto.form-control.input-md.description
              %b
                Monto:
              #{@board.monto}

      .form-group
        .col-md-9.col-sm-12.col-xs-12
          .col-md-12.col-sm-12.col-xs-12.no-padding{style:"padding-right:5px !important;padding-left:5px !important;"}
            #textinput.form-control.input-md.description
              %b
                Descripción:
                %br
              - if((@board.desc!=nil&&@board.desc!=""))
                #{@board.desc}
              - else
                NO ASIGNADA
          
      
    .form-group
      .col-md-9.col-sm-12.col-xs-12{style:"padding-right:20px !important;padding-left:20px !important;"}
        .col-md-3.col-sm-12.col-xs-12{style:"background-color:#eee;padding-top:10px;padding-bottom:10px;"}
        
          %b
            Zonas:
            %br
          - zones=@board.zones.sort{|a,b| a.name.delete("^0-9").to_i <=> b.name.delete("^0-9").to_i}
          - zones.each do |zona|
            #{zona.name}
            %br

        - if(@board.coords!=nil&&@board.coords!="")
          .col-md-9.col-sm-12.col-xs-12{style:"padding-right:0px;"}
            .col-md-12.col-sm-12.col-xs-12{style:"background-color:#eee;padding-top:10px;padding-bottom:10px;"}
              %label.col-md-2.col-sm-2.col-xs-2.control-label{for: "textinput",style:"text-align:left !important;padding:0px;"} Ubicación:
              #map

    - if(@user.role=="admin" || @user.role=="secpla")
      .form-group    
        .col-md-9.col-sm-12.col-xs-12
          .col-md-12.col-sm-12.col-xs-12{style:"text-align:right;"}
            %a#delete.btn.plus{href:"/new_board?mun_id=#{@municipio.id}&last_board_id=#{@board.board_id}&board_name=#{@board.name}&edit=true"}
              Editar Proyecto 
      
    .row
      .form-group 
        .col-md-9.col-sm-12.col-xs-12{style:"padding-right:20px !important;padding-left:20px !important;"}
          .col-12{style:"padding-right:5px !important;padding-left:5px !important;"}
            #textinput.form-control.input-md 
              %b
                Fecha de la última actividad del proyecto: 
              #{@last_activity.strftime("%d/%m/%Y")}     

    .row
      .col-md-12.col-sm-12.col-xs-12.no-padding
        .analysis-block-md
          %img#calendar-spinner
          #timeline-container.med-chart.graph-container

   
  

:javascript
  window.onload = function() {
    AnalysisController.init("#{@board_id}", #{@board_lists}, "#{@starting_list}", "#{@ending_list}", "#{@token}");
  };
:javascript
  function cantidad_de_dias(nombre,value,locale,now,extra){
    if(nombre=="En Creación Municipal"){
      return ((value+locale*3600*1000-now+extra*3600*1000*24)/(3600*24*1000));
    }
    else{
      return value/(3600*1000*24);
    }
  }

%script
  var now = new Date();
  var locale = parseInt(now.toString().split("-")[1].split(" (")[0])/100;
  var utc_now = new Date(now.getFullYear(), now.getMonth(), now.getDate(),0,0,0,0); 
  var now=utc_now.getTime();
  - if(@board.state_change_dates[8]!=nil)
    - fin = @board.state_change_dates[8].split('/')
    var fin = new Date(#{fin[2].split(' ')[0]},#{fin[1]}-1,#{fin[0]},0,0,0,0);
    now=fin.getTime();
  - if(@board.state_change_dates[9]!=nil)
    - fin = @board.state_change_dates[9].split('/')
    var fin = new Date(#{fin[2].split(' ')[0]},#{fin[1]}-1,#{fin[0]},0,0,0,0);
    now=fin.getTime();
  $('#timeline-container').highcharts({
  chart: {
  type: 'bar'
  },
  title: {
  text: 'Días en cada etapa'
  },
  xAxis: {
  categories: [" "],
  labels: {
  rotation: -45
  },
  },
  legend: {
  reversed: true
  },
  tooltip: {
  formatter: function() {
  return '<b>'+ this.series.name + ': ' + cantidad_de_dias(this.series.name,this.y,locale,now,this.series.options.extra) + '</b> días.';
  }
  },
  plotOptions: {
  series: {
  stacking: 'normal'
  }
  },
  series: [
  - count=0
  - if(@board.state_change_dates[8]!=nil && @board.state_change_dates[7]!=nil)
    {
    //Proyecto finalizado
    - value=(@board.state_change_dates[8].to_date-@board.state_change_dates[7].to_date).to_i
    - count=count+value
    name: 'En Ejecución',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - elsif(@board.state_change_dates[8]==nil && @board.state_change_dates[7]!=nil && @board.state_change_dates[9]==nil)
    {
    //Proyecto En Ejecución
    - value=(DateTime.now-@board.state_change_dates[7].to_date).to_i
    - count=count+value
    name: 'En Ejecución',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - elsif(@board.state_change_dates[8]==nil && @board.state_change_dates[7]!=nil && @board.state_change_dates[9]!=nil)
    {
    //Proyecto Descartado
    - value=(@board.state_change_dates[9].to_date-@board.state_change_dates[7].to_date).to_i
    - count=count+value
    name: 'En Ejecución',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - if(@board.state_change_dates[7]!=nil && @board.state_change_dates[6]!=nil)
    {
    - value=(@board.state_change_dates[7].to_date-@board.state_change_dates[6].to_date).to_i
    - count=count+value
    name: 'Evaluación y adjudicación de propuestas',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - elsif(@board.state_change_dates[7]==nil && @board.state_change_dates[6]!=nil)
    {
    - value=(DateTime.now-@board.state_change_dates[6].to_date).to_i
    - count=count+value
    name: 'Evaluación y adjudicación de propuestas',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - if(@board.state_change_dates[6]!=nil && @board.state_change_dates[5]!=nil)
    {
    - value=(@board.state_change_dates[6].to_date-@board.state_change_dates[5].to_date).to_i
    - count=count+value
    name: 'Preparación Licitación',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - elsif(@board.state_change_dates[6]==nil && @board.state_change_dates[5]!=nil)
    {
    - value=(DateTime.now-@board.state_change_dates[5].to_date).to_i
    - count=count+value
    name: 'Preparación Licitación',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - if(@board.state_change_dates[5]!=nil && @board.state_change_dates[4]!=nil)
    {
    - value=(@board.state_change_dates[5].to_date-@board.state_change_dates[4].to_date).to_i
    - count=count+value
    name: 'Con recursos aprobados',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - elsif(@board.state_change_dates[5]==nil && @board.state_change_dates[4]!=nil)
    {
    - value=(DateTime.now-@board.state_change_dates[4].to_date).to_i
    - count=count+value
    name: 'Con recursos aprobados',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - if(@board.state_change_dates[4]!=nil && @board.state_change_dates[3]!=nil)
    {
    - value=(@board.state_change_dates[4].to_date-@board.state_change_dates[3].to_date).to_i
    - count=count+value
    name: 'Con aprobación técnica',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - elsif(@board.state_change_dates[4]==nil && @board.state_change_dates[3]!=nil)
    {
    - value=(DateTime.now-@board.state_change_dates[3].to_date).to_i
    - count=count+value
    name: 'Con aprobación técnica',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - if(@board.state_change_dates[3]!=nil && @board.state_change_dates[2]!=nil)
    {
    - value=(@board.state_change_dates[3].to_date-@board.state_change_dates[2].to_date).to_i
    - count=count+value
    name: 'Observado',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - elsif(@board.state_change_dates[3]==nil && @board.state_change_dates[2]!=nil)
    {
    - value=(DateTime.now-@board.state_change_dates[2].to_date).to_i
    - count=count+value
    name: 'Observado',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - if(@board.state_change_dates[2]!=nil && @board.state_change_dates[1]!=nil)
    {
    - value=(@board.state_change_dates[2].to_date-@board.state_change_dates[1].to_date).to_i
    - count=count+value
    name: 'Ingresado',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - elsif(@board.state_change_dates[2]==nil && @board.state_change_dates[1]!=nil)
    {
    - value=(DateTime.now-@board.state_change_dates[1].to_date).to_i
    - count=count+value
    name: 'Ingresado',
    extra: #{count},
    data: [#{value}*3600*1000*24]
    },
  - if(@board.state_change_dates[1]!=nil && @board.state_change_dates[0]!=nil)
    {
    - value=(@board.state_change_dates[1].to_date-@board.state_change_dates[0].to_date).to_i
    - count=count+value
    name: 'En Creación Municipal',
    extra: #{count},
    data: [#{value}*3600*1000*24+now-locale*3600*1000-#{count*1000*24*3600}]
    }
  - elsif(@board.state_change_dates[1]==nil && @board.state_change_dates[0]!=nil)
    {
    - value=(DateTime.now-@board.state_change_dates[0].to_date).to_i
    - count=count+value
    name: 'En Creación Municipal',
    extra: #{count},
    data: [#{value}*3600*1000*24+now-locale*3600*1000-#{count*1000*24*3600}]
    }
  ],
  yAxis: {
  type: 'datetime',
  tickInterval: 3600 * 1000*24,
  minTickInterval: moment.duration(1, 'month').asMilliseconds(),
  min: now-#{count*1000*24*3600},
  title: {
  text: ' '
  }
  }
  });
