.container
  %div
    /%h4
    /  %a{href: "/dashboard",style: "color:#808080"}Indicadores del Municipio >
    /%h2.ollert-header
    /  .text-center.col-xs-12.no-padding{style:"text-align:left;"}
    /    Resumen #{@mun.name}
    .fondo-blanco
      .row
        .col-md-12.col-sm-12.col-xs-12
          .col-md-3.col-sm-12.col-xs-12
            .boards-list-item-link-blue{style:"height:250px;"}
              %img.svg-element#boton{src: "/img/Iconos-blancos-23.png", type:"image/svg+xml", style:"width:65%;"}
              %h1{style:"margin-top:0px;margin-bottom:0px;"} 
                #{@boards.count}
              %h4{style:"margin:5px;"} 
                Proyectos Abiertos
    .row#graficos
      .col-md-12.col-sm-12.col-xs-12{style:"margin-top:30px;"}
        #container2
      .col-md-12.col-sm-12.col-xs-12{style:"margin-top:30px;"}
        #container1
      .col-md-12.col-sm-12.col-xs-12{style:"margin-top:30px;"}
        #container3
        %div{id:"hoverinfo",style:"margin-left:80px;"}
    .fondo-blanco
      .row{style:"margin:0px;"}
        %a.btn.plus#save_image_locally
          Descargar
      

%script
  var myPlot = document.getElementById('container3'),hoverInfo = document.getElementById('hoverinfo');
  var trace1 = {
  x: #{@zones.to_s},
  y: #{@fondos.to_s},
  text: #{@valores},
  mode: 'markers',
  marker: {
  size: #{@sizes}
  }
  };

  var data = [trace1];

  var layout = {
  title: 'Proyectos por Zona y Fondo',
  showlegend: false,
  hovermode: 'closest'
  };

  Plotly.newPlot('container3', data, layout);
  

%script
  $('#container2').highcharts({
  chart: {
  type: 'column'
  },
  title: {
  text: 'Proyectos por zona'
  },
  subtitle: {
  text: ''
  },
  xAxis: {
  type: 'category',
  labels: {
  rotation: -45,
  style: {
  fontSize: '11px',
  fontFamily: 'Verdana, sans-serif'
  }
  }
  },
  yAxis: {
  min: 0,
  title: {
  text: 'Cantidad de proyectos'
  }
  },
  legend: {
  enabled: false
  },
  tooltip: {
  pointFormat: 'Proyectos en la zona:{point.extra}',
  style: {"max-height":"100px","z-index":"8000","overflow":"scroll","height":"100px !important"},
  useHTML: true
  },
  series: [{
  name: 'Proyectos',
  data: [
  - zones=@mun.zones.sort{|a,b| a.name.delete("^0-9").to_i <=> b.name.delete("^0-9").to_i}
  - board_names=zones.first.boards.where(closed: "false").pluck(:name)
  - extra="<br>"
  - board_names.each do |bname|
    - bname=bname.gsub('"','\'')
    - extra=extra+"- "+bname+"<br>"
  {name:"#{zones.first.name}",y:#{zones.first.boards.where(closed: "false").count},extra:"#{extra}"},
  - zones.each do |zone|
    - if(zone!=zones.first)
      - board_names=zone.boards.where(closed: "false").pluck(:name)
      - extra="<br>"
      - board_names.each do |bname|
        - bname=bname.gsub('"','\'')
        - extra=extra+"- "+bname+"<br>"
      {name:"#{zone.name}",y:#{zone.boards.where(closed: "false").count},extra:"#{extra}"},
  ],
  dataLabels: {
  enabled: true,
  rotation: -360,
  color: '#FFFFFF',
  align: 'right',
  format: '{point.y}', // one decimal
  y: 10, // 10 pixels down from the top
  style: {
  fontSize: '13px',
  fontFamily: 'Verdana, sans-serif'
  }
  }
  }]
  });
  

%script
  $('#container1').highcharts({
  chart: {
  type: 'column'
  },
  title: {
  text: 'Proyectos por tipo'
  },
  subtitle: {
  text: ''
  },
  xAxis: {
  type: 'category',
  labels: {
  rotation: -45,
  style: {
  fontSize: '13px',
  fontFamily: 'Verdana, sans-serif'
  }
  }
  },
  yAxis: {
  title: {
  text: 'Total de proyectos'
  }

  },
  legend: {
  enabled: false
  },
  plotOptions: {
  series: {
  borderWidth: 0,
  dataLabels: {
  enabled: true,
  format: '{point.y}'
  }
  }
  },

  tooltip: {
  headerFormat: '<span style="font-size:11px">{series.name}:</span><br>',
  pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> proyectos.<br/>'
  },

  series: [{
  name: 'Tipo de proyecto',
  colorByPoint: true,
  data: [
  {name:'#{@mun.tipos.first.name}',y: #{@mun.tipos.first.boards.where(closed: "false").count}},
  - @mun.tipos.each do |tipo|
    - if(tipo!=@mun.tipos.first)
      {name:"#{tipo.name}",y: #{tipo.boards.where(closed: "false").count}},
  ]
  }]
  
  });

:javascript
  $('#save_image_locally').click(function(){
  var svgElements= $("#graficos").find('svg');

  //replace all svgs with a temp canvas
  svgElements.each(function () {
    var canvas, xml;

    canvas = document.createElement("canvas");
    canvas.className = "screenShotTempCanvas";
    //convert SVG into a XML string
    xml = (new XMLSerializer()).serializeToString(this);

    // Removing the name space as IE throws an error
    xml = xml.replace(/xmlns=\"http:\/\/www\.w3\.org\/2000\/svg\"/, '');

    //draw the SVG onto a canvas
    canvg(canvas, xml);
    $(canvas).insertAfter(this);
    //hide the SVG element
    this.className = "tempHide";
    $(this).hide();
  });
  html2canvas($('#graficos'), 
    {background :'#FFFFFF',
      onrendered: function (canvas) {
        var a = document.createElement('a');
        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
        a.href = canvas.toDataURL("image/png");
        a.download = 'archivo-proyectos.png';
        a.click();
      }
    });
  });
    