.container
  %div
    /%h4
    /  %a{href: "/dashboard",style: "color:#808080"}Indicadores del Municipio >
    /%h2.ollert-header
    /  .text-center.col-xs-12.no-padding{style:"text-align:left;"}
    /    Resumen #{@mun.name}
    .fondo-blanco
      .row
        .col-md-12.col-sm-12.col-xs-12
          .col-md-3.col-sm-12.col-xs-12
            .boards-list-item-link-blue{style:"height:250px;"}
              %img.svg-element#boton{src: "/img/Iconos-blancos-23.png", type:"image/svg+xml", style:"width:65%;"}
              %h1{style:"margin-top:0px;margin-bottom:0px;"} 
                #{@boards.count}
              %h4{style:"margin:5px;"} 
                Proyectos Abiertos
    .row#graficos
      .col-md-12.col-sm-12.col-xs-12{style:"margin-top:30px;"}
        #container2
      .col-md-12.col-sm-12.col-xs-12{style:"margin-top:30px;"}
        #container4
      .col-md-12.col-sm-12.col-xs-12{style:"margin-top:30px;"}
        #container3
      .col-md-6.col-sm-12.col-xs-12{style:"margin-top:30px;"}
        #container5
      .col-md-6.col-sm-12.col-xs-12{style:"margin-top:30px;"}
        #container6
        %div{id:"hoverinfo",style:"margin-left:80px;"}
      
    .fondo-blanco
      .row{style:"margin:0px;"}
        %a.btn.plus#save_image_locally
          Descargar
    .fondo-blanco
      .row{style:"margin:0px;"}
        %a.btn.plus{href:"/dashboard/raport.xls"}
          Excel
        



%script
  var myPlot = document.getElementById('container3'),hoverInfo = document.getElementById('hoverinfo');
  var trace1 = {
  x: #{@zones.to_s},
  y: #{@fondos.to_s},
  text: #{@valores},
  mode: 'markers',
  marker: {
  size: #{@sizes}
  }
  };

  var data = [trace1];

  var layout = {
  title: 'Proyectos por zona de intervención y fondo',
  showlegend: false,
  hovermode: 'closest',
  margin:{
  l:200,
  b:100
  },
  yaxis: {
  showticklabels: true,
  tickfont: {
  family: 'Old Standard TT, serif',
  size: 14,
  color: 'black'
  }
  },
  xaxis: {
  showticklabels: true,
  tickangle: -25,
  tickfont: {
  family: 'Old Standard TT, serif',
  size: 14,
  color: 'black'
  },
  exponentformat: 'e',
  showexponent: 'All'
  }
  };

  Plotly.newPlot('container3', data, layout);
  



%script
  var myConfig = {
  "type":"bar",
  "background-color":"#fff",
  "title":{
  "text":"Proyectos por zona de intervención",
  "font-weight":"bold",
  "font-color":"#0469a4",
  "background-color":"#fff"
  },
  "plot":{
  "bar-width":"10px",
  "border-radius-bottom-left" : "0",
  "border-radius-bottom-right" : "0",
  "offset-x":-1,
  "hover-state":{
  "visible":false
  }
  },
  "tooltip":{
  "visible":true,
  "text":"%kl<br><span style='color:%color'>%t: </span>%v<br>",
  "backgroundColor":"white",
  "borderColor":"#0469a4",
  "borderWidth":2,
  "borderRadius":"5px",
  "bold":true,
  "fontSize":"12px",
  "fontColor":"#2f2f2f",
  "textAlign":"left",
  "padding":"15px",
  "shadow":true,
  "shadowAlpha":0.2,
  "shadowBlur":5,
  "shadowDistance":4,
  "shadowColor":"#a1a1a1"
  },
  "plotarea":{
  "margin":"5% 5% 20% 5%"
  },
  "scale-x":{
  "line-color":"#0469a4",
  "angle":45,
  "guide":{
  "visible":"true"
  },
  "values":[
  - zonesss=@mun.zones.sort{|a,b| a.name.delete("^0-9").to_i <=> b.name.delete("^0-9").to_i}
  "NO ASIGNADA",
  "#{zonesss.first.name}"
  - zonesss.each do |zone|
    - if(zone!=zonesss.first)
      ,"#{zone.name}"
  ],
  "item":{
  "font-color":"#0469a4",
  "font-angle":-20,
  "max-chars":15 
  },
  "tick":{
  "line-color":"#0469a4"
  }
  },
  "scale-y":{
  "line-color":"#0469a4",
  "label":{
  "item":{
  "offset-y":"10px"
  },
  "text":"Cantidad de Proyectos",
  "font-size":"10px",
  "font-weight":"bold",
  "font-color":"#0469a4"
  },
  "guide":{
  "visible":"false"
  },
  "item":{
  "font-color":"#0469a4"
  },
  "tick":{
  "line-color":"#0469a4"
  }
  },
  "series":[
  {
  "values":[
  #{@boards.and(@boards.where(closed: "false").selector,@boards.where(:zone_ids => nil).selector).count},
  #{zonesss.first.boards.where(closed: "false").count}
  - zonesss.each do |zone|
    - if(zone!=zonesss.first)
      ,#{zone.boards.where(closed: "false").count}
  ],
  "text":"Proyectos por zona de intervención",
  "styles":[
  {
  / "background-image":"/img/Indicadores-02.png",
  / "background-repeat":"repeat-y",
  / "background-fit":"x",
  "background-color":"#e2882d",
  "borderRadius":"5px"
  }
  - zonesss.each do |tipo|

    ,{
    / "background-image":"/img/Indicadores-02.png",
    / "background-repeat":"repeat-y",
    / "background-size":"cover",
    "background-color":"#e2882d",
    "borderRadius":"5px",

    }
  ]
  }
  ]
  };

  zingchart.render({ 
  id : 'container2', 
  data : myConfig
  });

%script
  var myConfig = {
  "type":"bar",
  "background-color":"#fff",
  "title":{
  "text":"Proyectos por tipo",
  "font-weight":"bold",
  "font-color":"#0469a4",
  "background-color":"#fff"
  },
  "plot":{
  "bar-width":"10px",
  "border-radius-bottom-left" : "0",
  "border-radius-bottom-right" : "0",
  "offset-x":-1,
  "hover-state":{
  "visible":false
  }
  },
  "tooltip":{
  "visible":true,
  "text":"%kl<br><span style='color:%color'>%t: </span>%v<br>",
  "backgroundColor":"white",
  "borderColor":"#0469a4",
  "borderWidth":2,
  "borderRadius":"5px",
  "bold":true,
  "fontSize":"12px",
  "fontColor":"#2f2f2f",
  "textAlign":"left",
  "padding":"15px",
  "shadow":true,
  "shadowAlpha":0.2,
  "shadowBlur":5,
  "shadowDistance":4,
  "shadowColor":"#a1a1a1"
  },
  "plotarea":{
  "margin":"5% 5% 20% 5%"
  },
  "scale-x":{
  "line-color":"#0469a4",
  "angle":45,
  "guide":{
  "visible":"true"
  },
  "values":[
  - tiposss=@mun.tipos.sort{|a,b| a.name <=> b.name}
  "NO ASIGNADO",
  "#{tiposss.first.name}"
  - tiposss.each do |tipo|
    - if(tipo!=tiposss.first)
      ,"#{tipo.name}"
  ],
  "item":{
  "font-color":"#0469a4",
  "font-angle":-20,
  "max-chars":15 
  },
  "tick":{
  "line-color":"#0469a4"
  }
  },
  "scale-y":{
  "line-color":"#0469a4",
  "label":{
  "item":{
  "offset-y":"10px"
  },
  "text":"Cantidad de Proyectos",
  "font-size":"10px",
  "font-weight":"bold",
  "font-color":"#0469a4"
  },
  "guide":{
  "visible":"false"
  },
  "item":{
  "font-color":"#0469a4"
  },
  "tick":{
  "line-color":"#0469a4"
  }
  },
  "series":[
  {
  "values":[
  #{@boards.and(@boards.where(tipo: nil).selector,@boards.where(closed: "false").selector).count},
  #{@boards.where(tipo: tiposss.first).count}
  - tiposss.each do |tipo|
    - if(tipo!=tiposss.first)
      ,#{@boards.where(tipo: tipo).count}
  ],
  "text":"Proyectos por tipo",
  "styles":[
  {
  / "background-image":"/img/Indicadores-02.png",
  / "background-repeat":"repeat-y",
  / "background-fit":"x",
  "background-color":"#e2882d",
  "borderRadius":"5px",
  }
  - @mun.tipos.each do |tipo|
    ,{
    / "background-image":"/img/Indicadores-02.png",
    / "background-repeat":"repeat-y",
    / "background-size":"cover",
    "background-color":"#e2882d",
    "borderRadius":"5px"      
    }
  ]
  }
  ]
  };

  zingchart.render({ 
  id : 'container4', 
  data : myConfig
  });

%script
  $('#container5').highcharts({
  chart: {
  plotBackgroundColor: null,
  plotBorderWidth: null,
  plotShadow: false,
  type: 'pie'
  },
  title: {
  text: 'Cantidad de proyectos por prioridad'
  },
  tooltip: {
  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
  pie: {
  allowPointSelect: true,
  cursor: 'pointer',
  dataLabels: {
  enabled: true,
  style: {
  color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
  },
  formatter: function () {
  // display only if larger than 1
  return this.y > 0 ? '<b>'+this.point.name+'</b>: '+this.y : null;
  }
  }
  }
  },
  series: [{
  name: 'Proyectos',
  colorByPoint: true,
  data: [{
  name: 'Urgentes',
  y: #{@count[0]},
  sliced: true,
  selected: true
  }, {
  name: 'Priorizados',
  y: #{@count[1]}
  }, {
  name: 'No Priorizados',
  y: #{@count[2]}
  }]
  }]
  });


%script

  var colors = Highcharts.getOptions().colors,
  categories = ['En Creación Municipal', 'Con aprobación técnica', 'En Licitación', 'En Ejecución', 'Etapa no asignada'],

  data = [{
  color: colors[0],
  drilldown: {
  name: 'En Formulación',
  categories: [
  'En Creación Municipal','Ingresado','Observado'
  ],
  data: [#{@total1.to_f/@big_total*100},#{@total2.to_f/@big_total*100},#{@total3.to_f/@big_total*100}],
  color: colors[0]
  },
  y: #{(@stotal1.to_f)/@big_total*100}
  },
  {
  color: colors[1],
  drilldown: {
  name: 'Con aprobación técnica',
  categories: [
  'Con aprobación técnica','Con recursos aprobados'
  ],

  data: [#{@total4.to_f/@big_total*100},#{@total5.to_f/@big_total*100}],
  color: colors[1]
  },
  y: #{(@stotal2.to_f)/@big_total*100}
  },
  {
  color: colors[2],
  drilldown: {
  name: 'En Licitación',
  categories: [
  'Preparación de licitación','Evaluación y adjudicación de propuestas'
  ],

  data: [#{@total6.to_f/@big_total*100},#{@total7.to_f/@big_total*100}],
  color: colors[2]
  },
  y: #{(@stotal3.to_f)/@big_total*100}
  },

  {
  color: colors[3],
  drilldown: {
  name: 'En Ejecución',
  categories: [
  'En Ejecución'
  ],

  data: [#{@total8.to_f/@big_total*100}],
  color: colors[3]
  },
  y: #{@total8.to_f/@big_total*100}
  },

  {
  color: colors[4],
  drilldown: {
  name: 'Etapa no asignada',
  categories: [
  'Etapa no asignada'
  ],

  data: [#{@total9.to_f/@big_total*100}],
  color: colors[4]
  },
  y: #{(@total9.to_f)/@big_total*100}
  }

  ],
  browserData = [],
  versionsData = [],
  i,
  j,
  dataLen = data.length,
  drillDataLen,
  brightness;


  // Build the data arrays
  for (i = 0; i < dataLen; i += 1) {

  // add browser data
  browserData.push({
  name: categories[i],
  y: Math.round(data[i].y*#{@big_total}/100),
  color: data[i].color
  });

  // add version data
  drillDataLen = data[i].drilldown.data.length;
  for (j = 0; j < drillDataLen; j += 1) {
  brightness = 0.2 - (j / drillDataLen) / 5;
  versionsData.push({
  name: data[i].drilldown.categories[j],
  y: Math.round(data[i].drilldown.data[j]*#{@big_total}/100),
  color: Highcharts.Color(data[i].color).brighten(brightness).get()
  });
  }
  }

  // Create the chart
  $('#container6').highcharts({
  chart: {
  type: 'pie'
  },
  title: {
  text: 'Etapas de proyectos abiertos'
  },
  yAxis: {
  title: {
  text: 'Total percent market share'
  }
  },
  plotOptions: {
  pie: {
  shadow: false,
  center: ['50%', '50%']
  }
  },
  series: [{
  name: 'Cantidad de proyectos',
  data: browserData,
  size: '60%',
  dataLabels: {
  formatter: function () {
  return this.y > 0 ? this.point.name : null;
  },
  color: '#ffffff',
  distance: -30
  }
  }, {
  name: 'Cantidad de proyectos',
  data: versionsData,
  size: '80%',
  innerSize: '60%',
  dataLabels: {
  formatter: function () {
  // display only if larger than 1
  return this.y > 0 ? '<b>' + this.point.name + ':</b> ' + this.y : null;
  }
  }
  }]
  });


:javascript
  $('#save_image_locally').click(function(){
  var svgElements= $("#graficos").find('svg');

  //replace all svgs with a temp canvas
  svgElements.each(function () {
    var canvas, xml;

    canvas = document.createElement("canvas");
    canvas.className = "screenShotTempCanvas";
    //convert SVG into a XML string
    xml = (new XMLSerializer()).serializeToString(this);

    // Removing the name space as IE throws an error
    xml = xml.replace(/xmlns=\"http:\/\/www\.w3\.org\/2000\/svg\"/, '');

    //draw the SVG onto a canvas
    canvg(canvas, xml);
    $(canvas).insertAfter(this);
    //hide the SVG element
    this.className = "tempHide";
    $(this).hide();
  });
  html2canvas($('#graficos'), 
    {background :'#FFFFFF',
      onrendered: function (canvas) {
        var a = document.createElement('a');
        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
        a.href = canvas.toDataURL("image/png");
        a.download = 'archivo-proyectos.png';
        a.click();
      }
    });
  });
    