.container
  %div
    /%h4
    /  %a{href: "/dashboard",style: "color:#808080"}Indicadores del Municipio >
    /%h2.ollert-header
    /  .text-center.col-xs-12.no-padding{style:"text-align:left;"}
    /    Resumen #{@mun.name}
    .fondo-blanco
      .row
        .col-md-12.col-sm-12.col-xs-12
          .col-md-3.col-sm-12.col-xs-12
            .boards-list-item-link-blue{style:"height:250px;"}
              %img.svg-element#boton{src: "/img/Iconos-blancos-23.png", type:"image/svg+xml", style:"width:65%;"}
              %h1{style:"margin-top:0px;margin-bottom:0px;"} 
                #{@boards.count}
              %h4{style:"margin:5px;"} 
                Proyectos Abiertos
    .row#graficos
      .col-md-12.col-sm-12.col-xs-12{style:"margin-top:30px;"}
        #container2
      .col-md-12.col-sm-12.col-xs-12{style:"margin-top:30px;"}
        #container4
      .col-md-12.col-sm-12.col-xs-12{style:"margin-top:30px;"}
        #container3
        %div{id:"hoverinfo",style:"margin-left:80px;"}
      
    .fondo-blanco
      .row{style:"margin:0px;"}
        %a.btn.plus#save_image_locally
          Descargar



%script
  var myPlot = document.getElementById('container3'),hoverInfo = document.getElementById('hoverinfo');
  var trace1 = {
  x: #{@zones.to_s},
  y: #{@fondos.to_s},
  text: #{@valores},
  mode: 'markers',
  marker: {
  size: #{@sizes}
  }
  };

  var data = [trace1];

  var layout = {
  title: 'Proyectos por Zona y Fondo',
  showlegend: false,
  hovermode: 'closest'
  };

  Plotly.newPlot('container3', data, layout);
  



%script
  var myConfig = {
  "type":"bar",
  "background-color":"#fff",
  "title":{
  "text":"Proyectos por zona",
  "font-weight":"bold",
  "font-color":"#0469a4",
  "background-color":"#fff"
  },
  "plot":{
  "bar-width":"37px",
  "offset-x":-1,
  "hover-state":{
  "visible":false
  }
  },
  "tooltip":{
  "visible":true,
  "text":"%kl<br><span style='color:%color'>%t: </span>%v<br>",
  "backgroundColor":"white",
  "borderColor":"#0469a4",
  "borderWidth":2,
  "borderRadius":"5px",
  "bold":true,
  "fontSize":"12px",
  "fontColor":"#2f2f2f",
  "textAlign":"left",
  "padding":"15px",
  "shadow":true,
  "shadowAlpha":0.2,
  "shadowBlur":5,
  "shadowDistance":4,
  "shadowColor":"#a1a1a1"
  },
  "plotarea":{
  "margin":"10% 10%"
  },
  "scale-x":{
  "line-color":"#0469a4",
  "angle":45,
  "guide":{
  "visible":"true"
  },
  "values":[
  - zonesss=@mun.zones.sort{|a,b| a.name.delete("^0-9").to_i <=> b.name.delete("^0-9").to_i}
  "#{zonesss.first.name}"
  - zonesss.each do |zone|
    - if(zone!=zonesss.first)
      ,"#{zone.name}"
  ],
  "item":{
  "font-color":"#0469a4",
  "font-angle":-20,
  "max-chars":15 
  },
  "tick":{
  "line-color":"#0469a4"
  }
  },
  "scale-y":{
  "line-color":"#0469a4",
  "label":{
  "item":{
  "offset-y":"10px"
  },
  "text":"Cantidad de Proyectos",
  "font-size":"10px",
  "font-weight":"bold",
  "font-color":"#0469a4"
  },
  "guide":{
  "visible":"false"
  },
  "item":{
  "font-color":"#0469a4"
  },
  "tick":{
  "line-color":"#0469a4"
  }
  },
  "series":[
  {
  "values":[
  - zonesss=@mun.zones.sort{|a,b| a.name.delete("^0-9").to_i <=> b.name.delete("^0-9").to_i}
  #{zonesss.first.boards.where(closed: "false").count}
  - zonesss.each do |zone|
    - if(zone!=zonesss.first)
      ,#{zone.boards.where(closed: "false").count}
  ],
  "styles":[
  {
  "background-image":"/img/Indicadores-02.png",
  "background-repeat":"repeat-y",
  "background-fit":"x",
  "background-color":"white"
  }
  - zonesss.each do |tipo|
    - if(tipo!=zonesss.first)
      ,{
      "background-image":"/img/Indicadores-02.png",
      "background-repeat":"repeat-y",
      "background-size":"cover",
      "background-color":"white"
      }
  ]
  }
  ]
  };

  zingchart.render({ 
  id : 'container2', 
  data : myConfig
  });

%script
  var myConfig = {
  "type":"bar",
  "background-color":"#fff",
  "title":{
  "text":"Proyectos por tipo",
  "font-weight":"bold",
  "font-color":"#0469a4",
  "background-color":"#fff"
  },
  "plot":{
  "bar-width":"37px",
  "offset-x":-1,
  "hover-state":{
  "visible":false
  }
  },
  "tooltip":{
  "visible":true,
  "text":"%kl<br><span style='color:%color'>%t: </span>%v<br>",
  "backgroundColor":"white",
  "borderColor":"#0469a4",
  "borderWidth":2,
  "borderRadius":"5px",
  "bold":true,
  "fontSize":"12px",
  "fontColor":"#2f2f2f",
  "textAlign":"left",
  "padding":"15px",
  "shadow":true,
  "shadowAlpha":0.2,
  "shadowBlur":5,
  "shadowDistance":4,
  "shadowColor":"#a1a1a1"
  },
  "plotarea":{
  "margin":"10% 10%"
  },
  "scale-x":{
  "line-color":"#0469a4",
  "angle":45,
  "guide":{
  "visible":"true"
  },
  "values":[
  "#{@mun.tipos.first.name}"
  - @mun.tipos.each do |tipo|
    - if(tipo!=@mun.tipos.first)
      ,"#{tipo.name}"
  ],
  "item":{
  "font-color":"#0469a4",
  "font-angle":-20,
  "max-chars":15 
  },
  "tick":{
  "line-color":"#0469a4"
  }
  },
  "scale-y":{
  "line-color":"#0469a4",
  "label":{
  "item":{
  "offset-y":"10px"
  },
  "text":"Cantidad de Proyectos",
  "font-size":"10px",
  "font-weight":"bold",
  "font-color":"#0469a4"
  },
  "guide":{
  "visible":"false"
  },
  "item":{
  "font-color":"#0469a4"
  },
  "tick":{
  "line-color":"#0469a4"
  }
  },
  "series":[
  {
  "values":[
  #{@mun.tipos.first.boards.where(closed: "false").count}
  - @mun.tipos.each do |tipo|
    - if(tipo!=@mun.tipos.first)
      ,#{tipo.boards.where(closed: "false").count}
  ],
  "styles":[
  {
  "background-image":"/img/Indicadores-02.png",
  "background-repeat":"repeat-y",
  "background-fit":"x",
  "background-color":"white"
  }
  - @mun.tipos.each do |tipo|
    - if(tipo!=@mun.tipos.first)
      ,{
      "background-image":"/img/Indicadores-02.png",
      "background-repeat":"repeat-y",
      "background-size":"cover",
      "background-color":"white"
      }
  ]
  }
  ]
  };

  zingchart.render({ 
  id : 'container4', 
  data : myConfig
  });



:javascript
  $('#save_image_locally').click(function(){
  var svgElements= $("#graficos").find('svg');

  //replace all svgs with a temp canvas
  svgElements.each(function () {
    var canvas, xml;

    canvas = document.createElement("canvas");
    canvas.className = "screenShotTempCanvas";
    //convert SVG into a XML string
    xml = (new XMLSerializer()).serializeToString(this);

    // Removing the name space as IE throws an error
    xml = xml.replace(/xmlns=\"http:\/\/www\.w3\.org\/2000\/svg\"/, '');

    //draw the SVG onto a canvas
    canvg(canvas, xml);
    $(canvas).insertAfter(this);
    //hide the SVG element
    this.className = "tempHide";
    $(this).hide();
  });
  html2canvas($('#graficos'), 
    {background :'#FFFFFF',
      onrendered: function (canvas) {
        var a = document.createElement('a');
        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
        a.href = canvas.toDataURL("image/png");
        a.download = 'archivo-proyectos.png';
        a.click();
      }
    });
  });
    