
   
.container
  .container
    .row
      %h2.ollert-header
        .text-center.col-xs-12
          - if(@fondo!=nil)
            #{@fondo.name}
          -else
            Nuevo Fondo para #{@mun.name}
    - if(@fondo!=nil)
      .row
        .col-md-10.col-sm-10.col-xs-10
          %a#delete{:style => "display: inline-block;float: right;padding: 5px !important;"}
            %span.glyphicon.glyphicon-remove{"aria-hidden" => "true", :style => ""}
        

    .row
      %form#components.form-horizontal{role: "form", :action=>"/admin/create_fondo?mun_id=#{@mun.id}", :method=>"post"}
        %fieldset
          .tab-content
            / Tabs of snippets go here
            #input.tab-pane.active
              .component
                / Text input
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Nombre
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@fondo!=nil)
                      %input#textinput.form-control.input-md{name: "name", value: "#{@fondo.name}", style: "cursor: auto;", type: "text" ,required: ""}/
                    - else
                      %input#textinput.form-control.input-md{name: "name", placeholder: "Nombre del fondo", style: "cursor: auto;", type: "text",required: ""}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Etapa
                  .col-md-6.col-sm-6.col-xs-12
                    - if(params[:edit]=="true")
                      %select#textinput.form-control.input-md{name: "etapa", style: "cursor: auto;", disabled: "true"}
                        - @etapa=@fondo.etapa
                        - if(@etapa=="diseno")
                          %option{:value => "diseno", :selected => ""} Diseño
                          %option{:value => "ejecucion"} Ejecución
                        - elsif (@etapa == "ejecucion")
                          %option{:value => "diseno"} Diseño
                          %option{:value => "ejecucion", :selected => ""} Ejecución
                    - else
                      %select#textinput.form-control.input-md{name: "etapa", style: "cursor: auto;"}
                        %option{:disabled => "", :selected => ""} Seleccione
                        %option{:value => "diseno", :selected => ""} Diseño
                        %option{:value => "ejecucion"} Ejecución
                .form-group
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@fondo!=nil)
                      %input#textinput.form-control.input-md{name: "edit", value: "true", style: "cursor: auto;", type: "password",required: "", type: "hidden"}/
                      %input#textinput.form-control.input-md{name: "id", value: "#{@fondo.id}", style: "cursor: auto;", type: "password",required: "", type: "hidden"}/
                    - else
                      %input#textinput.form-control.input-md{name: "edit", value: "false", style: "cursor: auto;", type: "password",required: "", type: "hidden"}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} 
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@fondo!=nil)
                      %input{:type => "submit", :value => "Actualizar", :class => "button"} 
                    - else
                      %input{:type => "submit", :value => "Crear", :class => "button"}
                

- if(@fondo!=nil)
  #confirm.modal.hide.fade
    .modal-body{style: "background: #ce4e41; color: #ffffff"}
      ¿Estás seguro que deseas eliminar el fondo #{@fondo.name}?
    }
    .modal-footer
      %button#delete.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Eliminar
      %button.btn{"data-dismiss" => "modal", :type => "button"} Cancelar
  
  :javascript
    window.onload = function() {
      $('#delete').on('click', function(e){
      e.preventDefault();
      $('#confirm').modal({ backdrop: 'static', keyboard: false })
        .one('click', '#delete', function() {
            window.location.href = "/admin/municipio/fondos/fondo/delete?mun_id=#{@fondo.municipio.id}&fondo_id=#{@fondo.id}";
        });
      $("#confirm").removeClass( "hide");
    });
    };
