
   
.container
  .row
    %h2.ollert-header
      .text-center.col-xs-12
        Estados del fondo #{@fondo.name}

  .row
  - @mun.states.order(:order => 'asc').each do |state|
    .col-md-3.col-sm-3.col-xs-4.no-padding
      .analysis-block-md
        #{state.name}
        %ul{class: 'boards-list'}
          %li.boards-list-item
            %btn.btn-link.boards-list-item-link
              Orden: #{state.order}
          %li.boards-list-item
            %a.btn.btn-link.boards-list-item-link{href: "/admin/municipio/states/tasks?mun_id=#{@mun.id}&state_id=#{state.id}&fondo_id=#{@fondo.id}"}
              Tareas: #{state.tasks.where(:fondo_id => @fondo.id).count}
          
      
