
   
.container
  .row
    %h4
      %a{href: "/admin",style: "color:#808080"}Panel de Administraci칩n >
    %h2.ollert-header
      .text-center.col-xs-12.no-padding
        Fondos

  .row
    .col-md-12.col-sm-12.col-xs-12.no-padding
      - @mun.fondos.order(:etapa => 'asc').each do |fondo|
        .col-md-4.col-sm-6.col-xs-6
          %a.btn.fondox{style: 'display: inline-block;float: right;padding: 5px !important;min-height: 200px; position: relative;', href: "/admin/municipio/fondos/fondo?mun_id=#{@mun.id}&fondo_id=#{fondo.id}&edit=true"}
            %h1 #{fondo.name}
            %h4{style: "bottom: 0;    position: absolute;    right: 0;    left: 0;"} 
              - etapa=fondo.etapa
              - if(etapa=="diseno")
                Dise침o
              - elsif(etapa=="ejecucion")
                Ejecuci칩n
              - elsif(etapa=="adquisicion")
                Adquisici칩n
              - elsif(etapa=="otros")
                Otros
              - elsif(etapa=="estudios")
                Estudios
              
              
            / %li.boards-list-item
            /   %a.btn.btn-link.boards-list-item-link{href: "/admin/municipio/fondos/states?mun_id=#{@mun.id}&fondo_id=#{fondo.id}"}
            /     Estados: #{@mun.states.count}
        
  - if(@user.role=="secpla" || @user.role=="admin") 
    .row
      %a.btn.plus{href: "/admin/municipio/fondos/fondo?mun_id=#{@mun.id}"}
        Agregar Fondo