
   
.container

  .fondo-blanco
    .row{style:"margin:0px;"}
      %h2.ollert-header
        .text-center.col-xs-12.no-padding
          Fondos
          %a{onclick:"explicacionFondo()", style:"cursor:pointer;vertical-align:super;"}
            %img{src:"/img/faq.png", style:"width:15px;"}
      - if(@user.role=="secpla" || @user.role=="admin") 
        %a.btn.plus{href: "/admin/municipio/fondos/fondo?mun_id=#{@mun.id}",style:"margin-right:25px;"}
          Agregar Fondo

    .row{style:"margin:0px;"}
      .col-md-12.col-sm-12.col-xs-12.no-padding
        - @mun.fondos.order(:etapa => 'asc').each do |fondo|
          .col-md-4.col-sm-6.col-xs-6
            %a.btn.fondox{style: 'display: inline-block;float: right;padding: 5px !important;min-height: 200px; position: relative;', href: "/admin/municipio/fondos/fondo?mun_id=#{@mun.id}&fondo_id=#{fondo.id}&edit=true"}
              %h1 #{fondo.name}
              %h4{style: "bottom: 0;    position: absolute;    right: 0;    left: 0;"} 
                - etapa=fondo.etapa
                - if(etapa=="diseno")
                  Diseño
                - elsif(etapa=="ejecucion")
                  Ejecución
                - elsif(etapa=="adquisicion")
                  Adquisición
                - elsif(etapa=="otros")
                  Otros
                - elsif(etapa=="estudios")
                  Estudios
                
                
              / %li.boards-list-item
              /   %a.btn.btn-link.boards-list-item-link{href: "/admin/municipio/fondos/states?mun_id=#{@mun.id}&fondo_id=#{fondo.id}"}
              /     Etapas: #{@mun.states.count}
          
#confirm.modalx.hide.fade{style:"background-color:#ffffff"}
  .col-md-10.col-sm-12.col-xs-12
    .modal-body{style:"background-color:#ffffff"} 
      %span#textoPopup asda
      .imagen{style:"opacity:0;display:none;background-repeat:no-repeat;padding-right:0px;background-size:100%;width:100%"}
        %img{src:"/img/etapas.png", style:"width:100%"}
  .col-md-2.col-sm-12.col-xs-12#button-container
    .modal-footer
      %button#delete.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Aceptar
      %button#dismiss.btn{"data-dismiss" => "modal", :type => "button"} Cancelar  
         
%script
  function explicacionFondo(){
  $("#textoPopup").text("La configuración de fondos permite tener en el listado todas las fuentes de financiamiento externo a las que recurre el municipio para los proyectos de inversión. Se pueden agregar o eliminar dependiendo del municipio. Cada fondo tendrá sus propias tareas determinadas que se cargarán de forma automática en Trello para el equipo SECPLAC, reconociendo papeleos y requerimientos de cada fuente de financiamiento.");
  $("#textoPopup").css('color','#000000');
  $(".imagen").css('opacity','1');
  $(".imagen").css('display','none');
  $(".modal-body").css('display','block');
  $("#confirm").css('background-color','#FFFFFF');
  $(".modal-body").css('background-color','#FFFFFF');
  $("#delete").addClass("hide");
  $("#dismiss").text("Aceptar");
  $("#button-container").css('position','absolute');
  $("#button-container").css('bottom','15px');
  $("#button-container").css('right','0px');
  $('#confirm').modal({ backdrop: 'static', keyboard: false }).one('click', '#dismiss', function() {
  $("#textoPopup").text("");
  $("#textoPopup").css('color','#ffffff');
  $(".imagen").css('opacity','0');
  $(".imagen").css('display','none');
  $("#dismiss").text("Cancelar");
  $("#button-container").css('position','relative');
  $("#button-container").css('bottom','');
  $("#button-container").css('right','');
  $(".modal-body").css('display','-webkit-inline-box');
  });
  $("#confirm").removeClass( "hide");
  }

      
