
   
.container
  .fondo-blanco
    .row{style:"margin:0px;"}
      %h2.ollert-header
        .text-center.col-xs-12.no-padding 
          Usuarios
          %a{onclick:"explicacionUsuario()", style:"cursor:pointer;vertical-align:super;"}
            %img{src:"/img/faq.png", style:"width:15px;"}

      - if(@user.role=="secpla" || @user.role=="admin") 
        - @org=@mun.organizations.find_by(name: "3. No Priorizados")
        %a.btn.plus{href:"/admin/municipio/users/user?mun_id=#{@mun.id}"}
          Agregar Usuario

    .row{style:"margin:0px;"}
      .col-md-12.col-sm-12.col-xs-12.no-padding
        %table.table{id: "myTable"}
          %thead
            %tr
              %th{style:"min-width:250px;"}
                Nombre
                %a{href: "#"}
                  %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"margin-left:10px;"}
              %th{style:"min-width:100px;"}
                Email
                %a{href: "#"}
                  %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"margin-left:10px;"}
              %th{style:"min-width:100px;"}
                Rol
                %a{href: "#"}
                  %span.glyphicon.glyphicon-sort{"aria-hidden" => "true", "style"=>"margin-left:10px;"}
              %th{style:"min-width:100px;"} 
                Invitación Pendiente
              - if(@user.role=="secpla" || @user.role=="admin")
                %th Editar
          %tbody.cuerpo-tabla
            - @mun.users.each do |user|
              %tr              
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-b.overflow
                    - if user != nil
                      - if user.login_name != nil
                        #{user.login_name} #{user.login_last_name}
                      - else
                        NO ASIGNADO
                    - else
                      NO ASIGNADO
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-b.overflow{style:"max-width: 100%;"}
                    - if user != nil
                      - if user.login_mail != nil
                        #{user.login_mail}
                      - else
                        NO ASIGNADO
                    - else
                      NO ASIGNADO
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-b.overflow{style:"max-width: 100%;"}
                    - if user != nil
                      - if user.role != nil
                        - if(user.role=="admin")
                          Administrador
                        - elsif(user.role=="secpla")
                          Director SECPLAC
                        - elsif(user.role=="concejal")
                          Concejal
                        - elsif(user.role=="alcalde")
                          Alcalde
                        - elsif(user.role=="funcionario")
                          Funcionario SECPLAC
                        - else
                          #{user.role}
                      - else
                        NO ASIGNADO
                    - else
                      NO ASIGNADO
                %td.celda-tabla{style: "width: 100%;"}
                  .boards-list-item-link-b.overflow{style:"max-width: 100%;"}
                    - if user != nil
                      - if user.trello_id == nil
                        Sí
                      - else
                        No
                    - else
                      No
                - if(@user.role=="secpla" || @user.role=="admin")
                  %td.celda-tabla{style: "width: 100%;"}   
                    .boards-list-item-link-c.overflow{style:"max-width: 100%;"}           
                      %a{style: 'display: inline-block;', href: "/admin/municipio/users/user?mun_id=#{@mun.id}&user_id=#{user.id}"}
                        %span.glyphicon.glyphicon-pencil
      - if(@user.role=="secpla" || @user.role=="admin") 
        .row{style:"margin:0px;"}
          - if(@mun.launched=="false")
            %a.btn.plus{href: "/admin/municipio/launch?mun_id=#{@mun.id}"}
              Enviar invitaciones
#confirm.modalx.hide.fade{style:"background-color:#ffffff"}
  .col-md-10.col-sm-12.col-xs-12
    .modal-body{style:"background-color:#ffffff"} 
      %span#textoPopup asda
      .imagen{style:"opacity:0;display:none;background-repeat:no-repeat;padding-right:0px;background-size:100%;width:100%"}
        %img{src:"/img/etapas.png", style:"width:100%"}
  .col-md-2.col-sm-12.col-xs-12#button-container
    .modal-footer
      %button#delete.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Aceptar
      %button#dismiss.btn{"data-dismiss" => "modal", :type => "button"} Cancelar  
:javascript
  $("#myTable").tablesorter();


%script
  function explicacionUsuario(){
  $("#textoPopup").text("Los usuarios que se agregan a SIMPLA son: Alcalde, Concejales, Director SECPLAC y equipo SECPLAC. Cada usuario tendrá diferente acceso a las plataformas de Trello y SIMPLA según el rol que se le asigne, correspondiente a lo pertinente.");
  $("#textoPopup").css('color','#000000');
  $(".imagen").css('opacity','1');
  $(".imagen").css('display','none');
  $(".modal-body").css('display','block');
  $("#confirm").css('background-color','#FFFFFF');
  $(".modal-body").css('background-color','#FFFFFF');
  $("#delete").addClass("hide");
  $("#dismiss").text("Aceptar");
  $("#button-container").css('position','absolute');
  $("#button-container").css('bottom','15px');
  $("#button-container").css('right','0px');
  $('#confirm').modal({ backdrop: 'static', keyboard: false }).one('click', '#dismiss', function() {
  $("#textoPopup").text("");
  $("#textoPopup").css('color','#ffffff');
  $(".imagen").css('opacity','0');
  $(".imagen").css('display','none');
  $("#dismiss").text("Cancelar");
  $("#button-container").css('position','relative');
  $("#button-container").css('bottom','');
  $("#button-container").css('right','');
  $(".modal-body").css('display','-webkit-inline-box');
  });
  $("#confirm").removeClass( "hide");
  }

  
