
:javascript
  function initMap(){
    $("#map").height("200px");
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: #{if(params[:edit]=="true" && @municipio.coords!=nil && @municipio.coords!="") \n @municipio.coords.split(' ')[0] \n else '-33.0833' \n end}, lng: #{if(params[:edit]=="true" && @municipio.coords!=nil  && @municipio.coords!="") \n @municipio.coords.split(' ')[1] \n else '-70.9333' \n end}},
      zoom: 14,
    });
    marker = new google.maps.Marker({
      map: map,
      draggable: true,
      animation: google.maps.Animation.DROP,
      position: {lat: #{if(params[:edit]=="true" && @municipio.coords!=nil  && @municipio.coords!="") \n @municipio.coords.split(' ')[0] \n else '-33.0833' \n end}, lng: #{if(params[:edit]=="true" && @municipio.coords!=nil  && @municipio.coords!="") \n @municipio.coords.split(' ')[1] \n else '-70.9333' \n end}}
    });
    google.maps.event.addListener(marker, 'dragend', function(evt){
      $("#textinput-zona").val(evt.latLng.lat().toFixed(3) + ' ' + evt.latLng.lng().toFixed(3));
    });
  }
%script{:async => "", :defer => "", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCfYWTKUU4QL_d1WLpJVLfjcTAJTwYVl3w&callback=initMap"}
.container
  .fondo-blanco
    .row{style:"margin:0px;"}
      %h2.ollert-header
        .text-center.col-xs-12
          - if(@municipio!=nil)
            #{@municipio.name}
          -else
            Nuevo Municipio
    - if(@municipio!=nil && @user.role=="admin")
      .row
        .col-md-10.col-sm-10.col-xs-10
          %a#delete{:style => "display: inline-block;float: right;padding: 5px !important;"}
            %span.glyphicon.glyphicon-remove{"aria-hidden" => "true", :style => ""}
        

    .row
      %form#components.form-horizontal{role: "form", :action=>"/admin/create_municipio", :method=>"post"}
        %fieldset
          .tab-content
            / Tabs of snippets go here
            #input.tab-pane.active
              .component
                / Text input
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Nombre
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@municipio!=nil)
                      %input#textinput.form-control.input-md{name: "name", value: "#{@municipio.name}", style: "cursor: auto;", type: "text" ,required: ""}/
                    - else
                      %input#textinput.form-control.input-md{name: "name", placeholder: "Nombre del Municipio", style: "cursor: auto;", type: "text",required: ""}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Ubicación
                  .col-md-6.col-sm-6.col-xs-12
                    #map
                    - if(params[:edit]=="true")
                      - if(@municipio.coords != nil)
                        %input#textinput-zona.form-control.input-md{name: "zona", value: "#{@municipio.coords}", style: "cursor: auto;", type: "hidden"}/
                      - else
                        %input#textinput-zona.form-control.input-md{name: "zona", value: "-33.085 -70.930", style: "cursor: auto;", type: "hidden"}/
                    - else
                      %input#textinput-zona.form-control.input-md{name: "zona", value: "-33.0833 -70.9333", style: "cursor: auto;", type: "hidden"}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} 
                    Zonas
                    %a{onclick:"explicacionZona()", style:"cursor:pointer;vertical-align:super;"}
                      %img{src:"/img/faq.png", style:"width:15px;"}
                  .col-md-6.col-sm-6.col-xs-12
                    .input_fields_wrap
                      
                      - if(@municipio!=nil)
                        - zones=@municipio.zones.sort{|a,b| a.name.delete("^0-9").to_i <=> b.name.delete("^0-9").to_i}
                        - zones.each do |zone|
                          %div
                            %input.form-control.input-md{:name => "zonas[#{zone.id}]", :value => "#{zone.name}",:type => "text",required: "", placeholder: "Nombre de la zona"}/
                            - if(@municipio.zones.first!=zone)
                              %a.remove_field{:href=>"#"}Quitar
                      - else
                        %div
                          %input.form-control.input-md{:name => "zonas[nuevo]", :value => "",:type => "text",required: "", placeholder: "Nombre de la zona"}/
                      %button.btn.plus.add_field_button Añadir zona
                .form-group
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@municipio!=nil)
                      %input#textinput.form-control.input-md{name: "edit", value: "true", style: "cursor: auto;" ,required: "", type: "hidden"}/
                      %input#textinput.form-control.input-md{name: "id", value: "#{@municipio.id}", style: "cursor: auto;" ,required: "", type: "hidden"}/
                    - else
                      %input#textinput.form-control.input-md{name: "edit", value: "false", placeholder: "Nombre del Municipio", style: "cursor: auto;",required: "", type: "hidden"}/

                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} 
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@municipio!=nil)
                      %input{:type => "submit", :value => "Guardar Cambios", :class => "btn plus"} 
                    - else
                      %input{:type => "submit", :value => "Crear", :class => "btn plus"}
                

- if(@municipio!=nil)
  #confirm.modalx.hide.fade
    .col-md-9.col-sm-12.col-xs-12
      .modal-body
        %span#textoPopup ¿Estás seguro que deseas eliminar #{@municipio.name}?
        
    .col-md-3.col-sm-12.col-xs-12
      .modal-footer
        %button#delete.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Eliminar
        %button.btn{"data-dismiss" => "modal", :type => "button"} Cancelar
    
  :javascript
    window.onload = function() {
      $('#delete').on('click', function(e){
      e.preventDefault();
      $('#confirm').modal({ backdrop: 'static', keyboard: false })
        .one('click', '#delete', function() {
            window.location.href = "/admin/municipio/delete?id_municipio=#{@municipio.id}";
        });
      $("#confirm").removeClass( "hide");
    });
    };
:javascript
  $(document).ready(function() {
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    var a=false;
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        x++; //text box increment
        $(wrapper).append('<div><input type="text" name="zonas[nuevo_'+x+']" required=""  placeholder="Nombre de la zona" class="form-control input-md"/><a href="#" class="remove_field">Quitar</a></div>'); //add input box
    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })


    $(".form-horizontal :input").change(function() {
       a=true;
    });
    window.onbeforeunload = function(){
      if (a)return '¿Está seguro que quiere salir?';
    };
  });

%script
  function explicacionZona(){
  $("#textoPopup").text("Las zonas son los sectores geográficos en los que se divide la comuna (unidades vecinales, sectores, etc). Definirlos permite, luego, asignar las zonas de intervención para cada proyecto de inversión.");
  $("#textoPopup").css('color','#000000');
  $(".imagen").css('opacity','1');
  $(".imagen").css('display','none');
  $(".modal-body").css('display','block');
  $("#confirm").css('background-color','#FFFFFF');
  $(".modal-body").css('background-color','#FFFFFF');
  $("#delete").addClass("hide");
  $("#dismiss").text("Aceptar");
  $("#button-container").css('position','absolute');
  $("#button-container").css('bottom','15px');
  $("#button-container").css('right','0px');
  $('#confirm').modal({ backdrop: 'static', keyboard: false }).one('click', '#dismiss', function() {
  $("#textoPopup").text("¿Estás seguro que deseas eliminar #{@municipio.name}?");
  $("#textoPopup").css('color','#ffffff');
  $(".imagen").css('opacity','0');
  $(".imagen").css('display','none');
  $("#delete").removeClass("hide");
  $("#dismiss").text("Cancelar");
  $("#button-container").css('position','relative');
  $("#button-container").css('bottom','');
  $("#button-container").css('right','');
  $(".modal-body").css('display','-webkit-inline-box');
  });
  $("#confirm").removeClass( "hide");
  }

  