
:javascript
  function initMap(){
    $("#map").height("200px");
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: #{if(params[:edit]=="true" && @board.coords!=nil && @board.coords!="") \n @board.coords.split(' ')[0] \n else @municipio.coords.split(' ')[0] \n end}, lng: #{if(params[:edit]=="true" && @board.coords!=nil  && @board.coords!="") \n @board.coords.split(' ')[1] \n else @municipio.coords.split(' ')[1] \n end}},
      zoom: 14,
    });
    marker = new google.maps.Marker({
      map: map,
      draggable: true,
      animation: google.maps.Animation.DROP,
      position: {lat: #{if(params[:edit]=="true" && @board.coords!=nil  && @board.coords!="") \n @board.coords.split(' ')[0] \n else @municipio.coords.split(' ')[0] \n end}, lng: #{if(params[:edit]=="true" && @board.coords!=nil  && @board.coords!="") \n @board.coords.split(' ')[1] \n else @municipio.coords.split(' ')[1] \n end}}
    });
    google.maps.event.addListener(marker, 'dragend', function(evt){
      $("#textinput-zona").val(evt.latLng.lat().toFixed(3) + ' ' + evt.latLng.lng().toFixed(3));
    });
  }
%script{:async => "", :defer => "", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCfYWTKUU4QL_d1WLpJVLfjcTAJTwYVl3w&callback=initMap"}
.container
  .fondo-blanco
    .row{style: "margin:0px"}
      %h2.ollert-header
        .text-center.col-xs-12.no-padding
          - if(params[:edit]=="true")
            #{params[:board_name]}
          -else
            Nuevo proyecto

    .row{style: "margin:0px"}
      %form#components.form-horizontal{role: "form", :action=>"/create_project", :method=>"post",onsubmit:"return checkboxes()"}
        %fieldset
          .tab-content
            / Tabs of snippets go here
            #input.tab-pane.active
              .component
                / Text input
                .form-group 
                  .col-md-9.col-sm-12.col-xs-12
                    - @board=nil
                    - if(params[:edit]=="true")
                      - @board=Board.find_by board_id: params[:last_board_id]
                      %input#textinput.form-control.input-md{name: "name", value: "#{params[:board_name].split(' |')[0]}", style: "cursor: auto;", type: "text" ,required: ""}
                    - else
                      %input#textinput.form-control.input-md{name: "name", placeholder: "Nombre del proyecto*", style: "cursor: auto;", type: "text",required: ""}

                  .col-md-6.col-sm-6.col-xs-12
                    %input#textinput.form-control.input-md{name: "orgName", value: "#{@orgName}", style: "cursor: auto;", type: "hidden", disabled: "true"}
                .form-group
                  .col-md-9.col-sm-12.col-xs-12
                    .col-md-6.col-sm-6.col-xs-12.no-padding{style:"padding-right: 10px !important;"}
                      %select#textinput.form-control.input-md.inpSelect{name: "tipo", style: "cursor: auto;", required: "true"}
                        - if(params[:edit]=="true" && @board.tipo!=nil)
                          - @tipo=@board.tipo
                          - @tipos=Municipio.find_by(id: params[:mun_id]).tipos
                          - @tipos.each do |f|
                            - if(@tipo.id==f.id)
                              %option{:value => "#{f.id}", :selected => ""} #{f.name}
                            - else
                              %option{:value => "#{f.id}"} #{f.name}
                          
                        - else
                          - @tipos=Municipio.find_by(id: params[:mun_id]).tipos
                          %option{:disabled => "disabled", :selected => "", :value=>""} Seleccione
                          - @tipos.each do |f|
                            %option{:value => "#{f.id}"} #{f.name}

                    .col-md-6.col-sm-6.col-xs-12.no-padding

                      %select#textinput.form-control.input-md.inpSelect{name: "fondo", style: "cursor: auto;",required:""}
                        - if(params[:edit]=="true" && @board.fondo!=nil)
                          - @fondo=@board.fondo
                          - @fondos=Municipio.find_by(id: params[:mun_id]).fondos
                          - disegnos = @fondos.where(:etapa => "diseno")
                          - if(disegnos.count!=0)
                            %optgroup{:label=>"Diseño"}
                            - disegnos.each do |f|
                              - if(@fondo.id==f.id)
                                %option{:value => "#{f.id}", :selected => "", :id => "#{f.etapa}"} #{f.name}
                              - else
                                %option{:value => "#{f.id}", :id => "#{f.etapa}"} #{f.name}
                          - ejecuciones = @fondos.where(:etapa => "ejecucion")
                          - if(ejecuciones.count!=0)
                            %optgroup{:label=>"Ejecución"}
                            - ejecuciones.each do |f|
                              - if(@fondo.id==f.id)
                                %option{:value => "#{f.id}", :selected => "", :id => "#{f.etapa}"} #{f.name}
                              - else
                                %option{:value => "#{f.id}", :id => "#{f.etapa}"} #{f.name}
                          - adquisiciones = @fondos.where(:etapa => "adquisicion")
                          - if(adquisiciones.count!=0)
                            %optgroup{:label=>"Adquisición"}
                            - adquisiciones.each do |f|
                              - if(@fondo.id==f.id)
                                %option{:value => "#{f.id}", :selected => "", :id => "#{f.etapa}"} #{f.name}
                              - else
                                %option{:value => "#{f.id}", :id => "#{f.etapa}"} #{f.name}
                          - estudios = @fondos.where(:etapa => "estudios")
                          - if(estudios.count!=0)
                            %optgroup{:label=>"Estudios"}
                            - estudios.each do |f|
                              - if(@fondo.id==f.id)
                                %option{:value => "#{f.id}", :selected => "", :id => "#{f.etapa}"} #{f.name}
                              - else
                                %option{:value => "#{f.id}", :id => "#{f.etapa}"} #{f.name}
                          - otros=@fondos.where(:etapa => "otros")
                          - if(otros.count!=0)
                            %optgroup{:label=>"Otros"}
                            - otros.each do |f|
                              - if(@fondo.id==f.id)
                                %option{:value => "#{f.id}", :selected => "", :id => "#{f.etapa}"} #{f.name}
                              - else
                                %option{:value => "#{f.id}", :id => "#{f.etapa}"} #{f.name}
                        - else
                          - @fondos=Municipio.find_by(id: params[:mun_id]).fondos
                          %option{:disabled => "", :selected => "", :value=>""} Seleccione
                          - @disenos=@fondos.where(:etapa => "diseno")
                          - if(@disenos.count>0)
                            %optgroup{:label=>"Diseño"}
                            - @disenos.each do |f|
                              %option{:value => "#{f.id}", :id => "#{f.etapa}"} #{f.name} (Diseño)
                          - @ejecuciones=@fondos.where(:etapa => "ejecucion")
                          - if(@ejecuciones.count>0)
                            %optgroup{:label=>"Ejecución"}
                            - @ejecuciones.each do |f|
                              %option{:value => "#{f.id}", :id => "#{f.etapa}"} #{f.name} (Ejecución)
                          - @adquisiciones=@fondos.where(:etapa => "adquisicion")
                          - if(@adquisiciones.count>0)
                            %optgroup{:label=>"Adquisición"}
                            - @adquisiciones.each do |f|
                              %option{:value => "#{f.id}", :id => "#{f.etapa}"} #{f.name} (Adquisición)
                          - @estudios=@fondos.where(:etapa => "estudios")
                          - if(@estudios.count>0)
                            %optgroup{:label=>"Estudios"}
                            - @estudios.each do |f|
                              %option{:value => "#{f.id}", :id => "#{f.etapa}"} #{f.name} (Estudios)
                          - @otros=@fondos.where(:etapa => "otros")
                          - if(@otros.count>0)
                            %optgroup{:label=>"Otros"}
                            - @otros.each do |f|
                              %option{:value => "#{f.id}", :id => "#{f.etapa}"} #{f.name} (Otro)
                .form-group
                  .col-md-9.col-sm-12.col-xs-12
                    .col-md-4.col-sm-12.col-xs-12.no-padding{style:"padding-right: 10px !important;"}
                      - if(params[:edit]=="true" && (@board.start_date!=nil&&@board.start_date!=""))
                        %input#datepicker1.form-control.input-md{name: "start_date", value: "#{@board.start_date}", style: "cursor: auto;", type: "text"}
                      - else
                        %input#datepicker1.form-control.input-md{name: "start_date", placeholder: "Fecha tentativa de Inicio del proyecto (Opcional)", style: "cursor: auto;", type: "text"}
                    .col-md-4.col-sm-12.col-xs-12.no-padding{style:"padding-right: 10px !important;"}
                      - if(params[:edit]=="true" && (@board.end_date!=nil&&@board.end_date!=""))
                        %input#datepicker2.form-control.input-md{name: "end_date", value: "#{@board.end_date}", style: "cursor: auto;", type: "text"}
                      - else
                        %input#datepicker2.form-control.input-md{name: "end_date", placeholder: "Fecha tentativa de fin del proyecto (Opcional)", style: "cursor: auto;", type: "text"}
                    .col-md-4.col-sm-12.col-xs-12.no-padding
                      - if(params[:edit]=="true")
                        %input#monto.form-control.input-md{name: "monto",min: "0", style: "cursor: auto;", type: "text",value: "#{@board.monto}"}/
                      - else
                        %input#monto.form-control.input-md{name: "monto",min: "0", style: "cursor: auto;", type: "text",placeholder:"Monto"}/
                .form-group
                  .col-md-9.col-sm-12.col-xs-12
                    .col-md-12.col-sm-12.col-xs-12.no-padding
                      - if(params[:edit]=="true" && (@board.desc!=nil&&@board.desc!=""))
                        %textarea#textinput.form-control.input-md{name: "desc", style: "cursor: auto;", type: "textarea"}#{@board.desc}
                      - else
                        %textarea#textinput.form-control.input-md{name: "desc", placeholder: "Descripción del proyecto", style: "cursor: auto;", type: "textarea"}
                    
                
                .form-group
                  .col-md-9.col-sm-12.col-xs-12
                    
                    .col-md-3.col-sm-12.col-xs-12#zones{style:"background-color:#eee;padding-top:10px;padding-bottom:10px;"}
                      %label.col-md-12.col-sm-12.col-xs-12.control-label{for: "textinput",style:"text-align:left !important;padding:0px;"} Zonas:*
                      .checkbox
                        %label
                          %input#select_all{:type => "checkbox", :onClick=>"toggle(this)"}>/
                        
                          Marcar Todas
                      - if(params[:org_id]!="nil")
                        - zones=@municipio.zones.sort{|a,b| a.name.delete("^0-9").to_i <=> b.name.delete("^0-9").to_i}
                        - zones.each do |zona|
                          .checkbox
                            %label
                              - if(params[:edit]=="true")
                                - if(@board.zones.find_by(id: zona.id)!=nil)
                                  %input{:type => "checkbox", :value => "#{zona.id}", :name =>"zonas[]", :checked =>"true"}>/
                                - else
                                  %input{:type => "checkbox", :value => "#{zona.id}", :name =>"zonas[]"}>/
                                #{zona.name}
                              - else
                                %input{:type => "checkbox", :value => "#{zona.id}", :name =>"zonas[]"}>/
                                #{zona.name}
                    
                    .col-md-9.col-sm-12.col-xs-12{style:"padding-right:0px;"}
                      .col-md-12.col-sm-12.col-xs-12{style:"background-color:#eee;padding-top:10px;padding-bottom:10px;"}
                        %label.col-md-2.col-sm-2.col-xs-2.control-label{for: "textinput",style:"text-align:left !important;padding:0px;"} Ubicación:
                        - if(params[:edit]=="true" && @board.coords!="")
                          %input#always{:type => "checkbox", :name =>"coords", :checked=>"true"}>/
                        - else
                          %input#always{:type => "checkbox", :name =>"coords"}>/
                        #map
                        - if(params[:edit]=="true")
                          - if(@board.coords != nil)
                            %input#textinput-zona.form-control.input-md{name: "zona", value: "#{@board.coords}", style: "cursor: auto;", type: "hidden"}/
                          - else
                            %input#textinput-zona.form-control.input-md{name: "zona", value: "-33.085 -70.930", style: "cursor: auto;", type: "hidden"}/
                        - else
                          %input#textinput-zona.form-control.input-md{name: "zona", value: "-33.0833 -70.9333", style: "cursor: auto;", type: "hidden"}/
                    
                .form-group
                  - if(params[:edit]=="true")
                    %input#textinput.form-control.input-md{name: "edit", value: "true", style: "cursor: auto;", type: "hidden"}/
                  - else
                    %input#textinput.form-control.input-md{name: "edit", value: "false", style: "cursor: auto;", type: "hidden"}/
                .form-group
                  %input#textinput.form-control.input-md{name: "last_board_id", value: "#{params[:last_board_id]}", style: "cursor: auto;", type: "hidden"}/
                - if(params[:admin]=="true")
                  .form-group
                    %input#textinput.form-control.input-md{name: "admin", value: "true", style: "cursor: auto;", type: "hidden"}/

                .form-group
                  
                  .col-md-3.col-sm-3.col-xs-12
                    %input#textinput.form-control.input-md{name: "org_id", value: "#{@org_id}", placeholder: "Nombre del proyecto", style: "cursor: auto;", type: "hidden"}/
                .form-group
                  .col-md-9.col-sm-12.col-xs-12
                    .col-md-12.col-sm-12.col-xs-12{style:"text-align:right;"}
                      - if(params[:edit]=="true")
                        %input{:type => "submit", :value => "Guardar Cambios", :class => "btn plus"} 
                      - else
                        %input{:type => "submit", :value => "Crear", :class => "btn plus"} 
                      - if(params[:edit]=="true")
                        %a#delete.btn.plus{style:"background-color:#eb5a46;margin-right:10px;"}
                          Eliminar Proyecto 
                    
- if(params[:edit]=="true")
  #confirm.modalx.hide.fade
    .modal-body
      ¿Estás seguro que deseas eliminar #{params[:board_name]}?
    
    .modal-footer
      %button#delete.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Eliminar
      %button.btn{"data-dismiss" => "modal", :type => "button"} Cancelar
  

:javascript
  function toggle(source) {
    checkboxes = document.getElementsByName('zonas[]');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
  }
:javascript
  
  

  function toggleBounce() {
    if (marker.getAnimation() !== null) {
      marker.setAnimation(null);
    } else {
      marker.setAnimation(google.maps.Animation.BOUNCE);
    }
  }
  
    $('#always').change(function () { 
      if(!this.checked)               
        $('#map').hide();
      else
        $('#map').show();
    }); //ensure visible state matches initially
  

    
:javascript
  

  window.onload = function() {
    

    if(!$("#always").prop('checked'))
      $("#map").hide();
    $('#delete').on('click', function(e){
      e.preventDefault();
      $('#confirm').modal({ backdrop: 'static', keyboard: false })
        .one('click', '#delete', function() {
            window.location.href = "/boards/delete/#{params[:last_board_id]}";
        });
      $("#confirm").removeClass( "hide");
    });


    $('#monto').bind('input', function() { 
      var numero=$(this).val().replace(/\./g,'')
      var i =numero.length-1;
      count=0;
      string="";
      while(i>-1){
        count++;
        if(count%3==0){
          string="."+numero[i]+string;
        }
        else{
          string=numero[i]+string;
        }
        i--;
      }
      if(string[0]=='.'){
        string=string.substring(1,string.length);
      }
      $(this).val(string);

    });
    

    
  };
:javascript
  function checkboxes(){
    if(jQuery('#zones input[type=checkbox]:checked').length>0){
      return true;
    }
    else{
      alert("Debe seleccionar al menos una zona.");
      return false;
    }

  }

  
