%script{:async => "", :defer => "", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCfYWTKUU4QL_d1WLpJVLfjcTAJTwYVl3w&callback=initMap"}
.container
  .container
    .row
      %h2.ollert-header
        .text-center.col-xs-12
          - if(params[:edit]=="true")
            #{params[:board_name]}
          -else
            Nuevo proyecto
    - if(params[:edit]=="true")
      .row
        .col-md-10.col-sm-10.col-xs-10
          %a#delete{:style => "display: inline-block;float: right;padding: 5px !important;"}
            %span.glyphicon.glyphicon-remove{"aria-hidden" => "true", :style => ""}
        

    .row
      %form#components.form-horizontal{role: "form", :action=>"/create_project", :method=>"post"}
        %fieldset
          .tab-content
            / Tabs of snippets go here
            #input.tab-pane.active
              .component
                / Text input
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Nombre
                  .col-md-6.col-sm-6.col-xs-12
                    - if(params[:edit]=="true")
                      %input#textinput.form-control.input-md{name: "name", value: "#{params[:board_name]}", style: "cursor: auto;", type: "text" ,required: ""}/
                    - else
                      %input#textinput.form-control.input-md{name: "name", placeholder: "Nombre del proyecto", style: "cursor: auto;", type: "text",required: ""}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Equipo
                  .col-md-6.col-sm-6.col-xs-12
                    %input#textinput.form-control.input-md{name: "orgName", value: "#{@orgName}", style: "cursor: auto;", type: "text", disabled: "true"}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Monto
                  .col-md-6.col-sm-6.col-xs-12
                    - @board=nil
                    - if(params[:edit]=="true")
                      - @board=@user.boards.find_by board_id: params[:last_board_id]
                      %input#textinput.form-control.input-md{name: "monto",min: "0", step: "50000", style: "cursor: auto;", type: "number",value: "#{@board.monto}"}/
                    - else
                      %input#textinput.form-control.input-md{name: "monto",min: "0",step: "50000", style: "cursor: auto;", type: "number"}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Tipo
                  .col-md-6.col-sm-6.col-xs-12
                    %select#textinput.form-control.input-md{name: "tipo", style: "cursor: auto;"}
                      - if(params[:edit]=="true")
                        - @tipo=@board.tipo
                        - if(@tipo=="salud")
                          %option{:value => "salud", :selected => ""} Salud
                          %option{:value => "educacion"} Educación
                          %option{:value => "espacios-publicos"} Espacios Públicos
                          %option{:value => "tecnologia"} Tecnología
                        - elsif (@tipo == "educacion")
                          %option{:value => "salud"} Salud
                          %option{:value => "educacion", :selected => ""} Educación
                          %option{:value => "espacios-publicos"} Espacios Públicos
                          %option{:value => "tecnologia"} Tecnología
                        - elsif (@tipo == "espacios-publicos")
                          %option{:value => "salud"} Salud
                          %option{:value => "educacion"} Educación
                          %option{:value => "espacios-publicos", :selected => ""} Espacios Públicos
                          %option{:value => "tecnologia"} Tecnología
                        - elsif (@tipo == "tecnologia")
                          %option{:value => "salud"} Salud
                          %option{:value => "educacion"} Educación
                          %option{:value => "espacios-publicos", :selected => ""} Espacios Públicos
                          %option{:value => "tecnologia", :selected => ""} Tecnología
                        - else
                          %option{:disabled => "", :selected => ""} Seleccione
                          %option{:value => "salud"} Salud
                          %option{:value => "educacion"} Educación
                          %option{:value => "espacios-publicos"} Espacios Públicos
                          %option{:value => "tecnologia"} Tecnología
                      - else
                        %option{:disabled => "", :selected => ""} Seleccione
                        %option{:value => "salud"} Salud
                        %option{:value => "educacion"} Educación
                        %option{:value => "espacios-publicos"} Espacios Públicos
                        %option{:value => "tecnologia"} Tecnología
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Fondo
                  .col-md-6.col-sm-6.col-xs-12

                    %select#textinput.form-control.input-md{name: "fondo", style: "cursor: auto;"}
                      - if(params[:edit]=="true")
                        - @fondo=@board.fondo
                        - if(@fondo=="fndr")
                          %option{:value => "fndr", :selected => ""} FNDR
                          %option{:value => "pmu"} PMU
                          %option{:value => "pmb"} PMB
                          %option{:value => "fril"} FRIL
                          %option{:value => "pavimentos-participativos"} Pavimentos Participativos
                          %option{:value => "circular-33"} Circular 33
                        - elsif(@fondo=="pmu")
                          %option{:value => "fndr"} FNDR
                          %option{:value => "pmu", :selected => ""} PMU
                          %option{:value => "pmb"} PMB
                          %option{:value => "fril"} FRIL
                          %option{:value => "pavimentos-participativos"} Pavimentos Participativos
                          %option{:value => "circular-33"} Circular 33
                        - elsif(@fondo=="pmb")
                          %option{:value => "fndr"} FNDR
                          %option{:value => "pmu"} PMU
                          %option{:value => "pmb", :selected => ""} PMB
                          %option{:value => "fril"} FRIL
                          %option{:value => "pavimentos-participativos"} Pavimentos Participativos
                          %option{:value => "circular-33"} Circular 33
                        - elsif(@fondo=="fril")
                          %option{:value => "fndr"} FNDR
                          %option{:value => "pmu"} PMU
                          %option{:value => "pmb"} PMB
                          %option{:value => "fril", :selected => ""} FRIL
                          %option{:value => "pavimentos-participativos"} Pavimentos Participativos
                          %option{:value => "circular-33"} Circular 33
                        - elsif(@fondo=="pavimentos-participativos")
                          %option{:value => "fndr"} FNDR
                          %option{:value => "pmu"} PMU
                          %option{:value => "pmb"} PMB
                          %option{:value => "fril"} FRIL
                          %option{:value => "pavimentos-participativos", :selected => ""} Pavimentos Participativos
                          %option{:value => "circular-33"} Circular 33
                        - elsif(@fondo=="circular-33")
                          %option{:value => "fndr"} FNDR
                          %option{:value => "pmu"} PMU
                          %option{:value => "pmb"} PMB
                          %option{:value => "fril"} FRIL
                          %option{:value => "pavimentos-participativos"} Pavimentos Participativos
                          %option{:value => "circular-33", :selected => ""} Circular 33
                        - else
                          %option{:disabled => "", :selected => ""} Seleccione
                          %option{:value => "fndr"} FNDR
                          %option{:value => "pmu"} PMU
                          %option{:value => "pmb"} PMB
                          %option{:value => "fril"} FRIL
                          %option{:value => "pavimentos-participativos"} Pavimentos Participativos
                          %option{:value => "circular-33"} Circular 33
                      - else
                        %option{:disabled => "", :selected => ""} Seleccione
                        %option{:value => "fndr"} FNDR
                        %option{:value => "pmu"} PMU
                        %option{:value => "pmb"} PMB
                        %option{:value => "fril"} FRIL
                        %option{:value => "pavimentos-participativos"} Pavimentos Participativos
                        %option{:value => "circular-33"} Circular 33
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Zona
                  .col-md-6.col-sm-6.col-xs-12
                    .checkbox
                      %label
                        %input#select_all{:type => "checkbox", :onClick=>"toggle(this)"}>/
                      
                        Marcar Todas
                    - @user.municipio.zones.each do |zona|
                      .checkbox
                        %label
                          - if(params[:edit]=="true")
                            - if(@board.zones.find_by(id: zona.id)!=nil)
                              %input{:type => "checkbox", :value => "#{zona.id}", :name =>"zonas[]", :checked =>"true"}>/
                            - else
                              %input{:type => "checkbox", :value => "#{zona.id}", :name =>"zonas[]"}>/
                            #{zona.name}
                          - else
                            %input{:type => "checkbox", :value => "#{zona.id}", :name =>"zonas[]"}>/
                            #{zona.name}
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Zona
                  .col-md-6.col-sm-6.col-xs-12
                    #map
                    - if(params[:edit]=="true")
                      - if(@board.coords != "")
                        %input#textinput-zona.form-control.input-md{name: "zona", value: "#{@board.coords}", style: "cursor: auto;", type: "hidden"}/
                      - else
                        %input#textinput-zona.form-control.input-md{name: "zona", value: "-33.085 -70.930", style: "cursor: auto;", type: "hidden"}/
                    - else
                      %input#textinput-zona.form-control.input-md{name: "zona", value: "-33.0833 -70.9333", style: "cursor: auto;", type: "hidden"}/
                .form-group
                  - if(params[:edit]=="true")
                    %input#textinput.form-control.input-md{name: "edit", value: "true", style: "cursor: auto;", type: "hidden"}/
                  - else
                    %input#textinput.form-control.input-md{name: "edit", value: "false", style: "cursor: auto;", type: "hidden"}/
                .form-group
                  %input#textinput.form-control.input-md{name: "last_board_id", value: "#{params[:last_board_id]}", style: "cursor: auto;", type: "hidden"}/

                .form-group
                  
                  .col-md-3.col-sm-3.col-xs-12
                    %input#textinput.form-control.input-md{name: "org_id", value: "#{@org_id}", placeholder: "Nombre del proyecto", style: "cursor: auto;", type: "hidden"}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} 
                  .col-md-6.col-sm-6.col-xs-12
                    - if(params[:edit]=="true")
                      %input{:type => "submit", :value => "Actualizar", :class => "button"} 
                    - else
                      %input{:type => "submit", :value => "Crear", :class => "button"} 
- if(params[:edit]=="true")
  #confirm.modal.hide.fade
    .modal-body{style: "background: #ce4e41; color: #ffffff"}
      ¿Estás seguro que deseas eliminar #{params[:board_name]}?
    }
    .modal-footer
      %button#delete.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Eliminar
      %button.btn{"data-dismiss" => "modal", :type => "button"} Cancelar
  

:javascript
  function toggle(source) {
    checkboxes = document.getElementsByName('zonas[]');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
  }
:javascript
  
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: #{if(params[:edit]=="true" && @board.coords!=nil && @board.coords!="") \n @board.coords.split(' ')[0] \n else '-33.0833' \n end}, lng: #{if(params[:edit]=="true" && @board.coords!=nil  && @board.coords!="") \n @board.coords.split(' ')[1] \n else '-70.9333' \n end}},
      zoom: 14,
    });
    marker = new google.maps.Marker({
      map: map,
      draggable: true,
      animation: google.maps.Animation.DROP,
      position: {lat: #{if(params[:edit]=="true" && @board.coords!=nil  && @board.coords!="") \n @board.coords.split(' ')[0] \n else '-33.0833' \n end}, lng: #{if(params[:edit]=="true" && @board.coords!=nil  && @board.coords!="") \n @board.coords.split(' ')[1] \n else '-70.9333' \n end}}
    });
    google.maps.event.addListener(marker, 'dragend', function(evt){
      $("#textinput-zona").val(evt.latLng.lat().toFixed(3) + ' ' + evt.latLng.lng().toFixed(3));
    });

  
  }

  function toggleBounce() {
    if (marker.getAnimation() !== null) {
      marker.setAnimation(null);
    } else {
      marker.setAnimation(google.maps.Animation.BOUNCE);
    }
  }

    
:javascript
  window.onload = function() {
    $("#map").height("200px");
    initMap();
    $("")
    $('#delete').on('click', function(e){
    e.preventDefault();
    $('#confirm').modal({ backdrop: 'static', keyboard: false })
      .one('click', '#delete', function() {
          window.location.href = "/boards/delete/#{params[:last_board_id]}";
      });
    $("#confirm").removeClass( "hide");
  });
  };

  
