
   
.container
  .container
    .row
      %h2.ollert-header
        .text-center.col-xs-12
          - if(@state!=nil)
            #{@state.name}
          -else
            Nueva etapa para #{@mun.name}
    - if(@state!=nil)
      .row
        .col-md-10.col-sm-10.col-xs-10
          %a#delete{:style => "display: inline-block;float: right;padding: 5px !important;"}
            %span.glyphicon.glyphicon-remove{"aria-hidden" => "true", :style => ""}
        

    .row
      %form#components.form-horizontal{role: "form", :action=>"/admin/create_state?mun_id=#{@mun.id}", :method=>"post"}
        %fieldset
          .tab-content
            / Tabs of snippets go here
            #input.tab-pane.active
              .component
                / Text input
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Nombre
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@state!=nil)
                      %input#textinput.form-control.input-md{name: "name", value: "#{@state.name}", style: "cursor: auto;", type: "text" ,required: ""}/
                    - else
                      %input#textinput.form-control.input-md{name: "name", placeholder: "Nombre de la etapa", style: "cursor: auto;", type: "text",required: ""}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Orden
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@state!=nil)
                      %input#textinput.form-control.input-md{name: "order", value: "#{@state.order}", style: "cursor: auto;", type: "number" ,min: "1",required: ""}/
                    - else
                      %input#textinput.form-control.input-md{name: "order", placeholder: "Orden de la etapa", style: "cursor: auto;", type: "number",min: "1",required: ""}/
                .form-group
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@state!=nil)
                      %input#textinput.form-control.input-md{name: "edit", value: "true", style: "cursor: auto;", type: "password",required: "", type: "hidden"}/
                      %input#textinput.form-control.input-md{name: "id", value: "#{@state.id}", style: "cursor: auto;", type: "password",required: "", type: "hidden"}/
                    - else
                      %input#textinput.form-control.input-md{name: "edit", value: "false", style: "cursor: auto;", type: "password",required: "", type: "hidden"}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} 
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@state!=nil)
                      %input{:type => "submit", :value => "Guardar Cambios", :class => "button"} 
                    - else
                      %input{:type => "submit", :value => "Crear", :class => "button"}
                

- if(@state!=nil)
  #confirm.modalx.hide.fade
    .modal-body
      ¿Estás seguro que deseas eliminar la etapa #{@state.name}?
    
    .modal-footer
      %button#delete.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Eliminar
      %button.btn{"data-dismiss" => "modal", :type => "button"} Cancelar
  
  :javascript
    window.onload = function() {
      $('#delete').on('click', function(e){
      e.preventDefault();
      $('#confirm').modal({ backdrop: 'static', keyboard: false })
        .one('click', '#delete', function() {
            window.location.href = "/admin/municipio/states/state/delete?mun_id=#{@state.municipio.id}&state_id=#{@state.id}";
        });
      $("#confirm").removeClass( "hide");
    });
    };
