
   
.container
  .fondo-blanco
    .row{style:"margin:0px;"}
      %h4
        %a{href: "/admin/municipio/fondos?mun_id=#{@mun.id}",style: "color:#808080"}Fondos >
        %a{href: "/admin/municipio/fondos/fondo?mun_id=#{@mun.id}&fondo_id=#{@fondo.id}&edit=true",style: "color:#808080"}#{@fondo.name}
      %h2.ollert-header
        .text-center.col-xs-12
          - if(@task!=nil)
            #{@task.name}
          -else
            Nueva Tarea para la etapa #{@state.name}
    
    

    .row
      %form#components.form-horizontal{role: "form", :action=>"/admin/create_task?mun_id=#{@mun.id}&state_id=#{@state.id}&fondo_id=#{@fondo.id}", :method=>"post"}
        %fieldset
          .tab-content
            / Tabs of snippets go here
            #input.tab-pane.active
              .component
                / Text input
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Nombre
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@task!=nil)
                      %input#textinput.form-control.input-md{name: "name", value: "#{@task.name}", style: "cursor: auto;", type: "text" ,required: ""}/
                    - else
                      %input#textinput.form-control.input-md{name: "name", placeholder: "Nombre de la tarea", style: "cursor: auto;", type: "text",required: ""}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Descripción
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@task!=nil)
                      %input#textinput.form-control.input-md{name: "desc", value: "#{@task.desc}", style: "cursor: auto;", type: "text"}/
                    - else
                      %input#textinput.form-control.input-md{name: "desc", placeholder: "Decripción de la tarea", style: "cursor: auto;", type: "text"}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Predeterminada
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@task!=nil)
                      - if(@task.checked=="true")
                        %input#textinput.input-md{type: "checkbox", name: "checked", checked: "true", style: "cursor: auto;"}/
                      - else
                        %input#textinput.input-md{type: "checkbox", name: "checked", style: "cursor: auto;"}/
                    - else
                      %input#textinput.input-md{type: "checkbox", name: "checked", style: "cursor: auto;"}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} Checklist
                  .col-md-6.col-sm-6.col-xs-12
                    .input_fields_wrap
                      %button.add_field_button Añadir subtarea
                      - if(@task!=nil)
                        - checklist=@task.checklist
                        - if(checklist!=nil && checklist!="")
                          - checklist.split('|').each do |subtask|
                            %div
                              %input.form-control.input-md{:name => "checklist[]", :value => "#{subtask}",:type => "text",required: "", placeholder: "Subtarea"}/
                              %a.remove_field{:href=>"#"}Quitar
                .form-group
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@task!=nil)
                      %input#textinput.form-control.input-md{name: "edit", value: "true", style: "cursor: auto;", required: "", type: "hidden"}/
                      %input#textinput.form-control.input-md{name: "id", value: "#{@task.id}", style: "cursor: auto;", required: "", type: "hidden"}/
                    - else
                      %input#textinput.form-control.input-md{name: "edit", value: "false", style: "cursor: auto;", required: "", type: "hidden"}/
                .form-group
                  %label.col-md-3.col-sm-3.col-xs-12.control-label{for: "textinput"} 
                  .col-md-6.col-sm-6.col-xs-12
                    - if(@task!=nil)
                      %input{:type => "submit", :value => "Guardar Cambios", :class => "btn plus"} 
                    - else
                      %input{:type => "submit", :value => "Crear", :class => "btn plus"}
                    - if( @task!=nil)
                      %a#delete.btn.plus{style:"background-color:#eb5a46;margin-right:10px;"}
                        Eliminar Tarea
                

- if(@task!=nil)
  #confirm.modalx.hide.fade
    .col-md-9.col-sm-12.col-xs-12
      .modal-body
        ¿Estás seguro que deseas eliminar la tarea #{@task.name}?
    .col-md-3.col-sm-12.col-xs-12  
      .modal-footer
        %button#delete.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Eliminar
        %button.btn{"data-dismiss" => "modal", :type => "button"} Cancelar
    
  :javascript
    window.onload = function() {
      $('#delete').on('click', function(e){
      e.preventDefault();
      $('#confirm').modal({ backdrop: 'static', keyboard: false })
        .one('click', '#delete', function() {
            window.location.href = "/admin/municipio/states/tasks/task/delete?mun_id=#{@mun.id}&task_id=#{@task.id}&state_id=#{params[:state_id]}&fondo_id=#{@params[:fondo_id]}";
        });
      $("#confirm").removeClass( "hide");
    });
    };
:javascript
  $(document).ready(function() {
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        x++; //text box increment
        $(wrapper).append('<div><input type="text" name="checklist[]" required=""  placeholder="Subtarea" class="form-control input-md"/><a href="#" class="remove_field">Quitar</a></div>'); //add input box
    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
  });
